<div class="row" id="scholarship_form" *ngIf="activateScholarships">
    <div mysize="12">
        <div class="x_panel">
            <div [class.x_title]="opened">
                <ul class="nav navbar-left panel_toolbox">
                  <li><a class="collapse-link" (click)="toggle()"><i [class]="opened?' fa fa-chevron-up':' fa fa-chevron-down'"></i></a></li>
                </ul>
                <h2>Scholarship / Financial Assistance <img id="scholarship" class="helperText" src="/public/images/tooltip.png" width="20px" style="padding-right:0px" (click)="toolTipNotify('scholarship',$event)"></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" [hidden]="!opened">
                <div *ngFor="let scholarship of scholarships;let i=index">
                    <div class="form-group">
                      <h4 mysize="3" class="cmsAlignLeft">Entry {{i+1}}</h4>
                    </div>
                    <br>
                    <div class="form-group">
                        <label mysize="3" class="cmsFont cmsAlignLeft">Type<span *ngIf="errors && errors?.validateOneOrNoneCustomControlArray && errors?.validateOneOrNoneCustomControlArray[i]?.type" class="required text-danger">*</span></label>
                        <div mysize="6">
                            <select class="cmsFont" name="scholarshipType{{i}}" [ngModel]="scholarship.type" (ngModelChange)="scholarship.type=$event;changedetected();">
                                <option value="">Select type </option>
                                <option *ngFor="let option of instituteStaticData?.scholarship_type" value="{{option.value}}">{{option.label}}</option>
                            </select>
                            <span *ngIf="errors" class="help-block text-danger cmsFont">
                                <span *ngIf="errors?.validateOneOrNoneCustomControlArray && errors?.validateOneOrNoneCustomControlArray[i]?.type">Scholarship type cannot be empty</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                      <label mysize="3" class="cmsFont cmsAlignLeft">Description</label>
                      <div mysize="6">
                          <textarea type="text" name="scholarshipDescription{{i}}" [ngModel]="scholarship.description" (ngModelChange)="scholarship.description=$event;changedetected();"></textarea>
                          <span *ngIf="errors" class="help-block text-danger cmsFont">
                              <span *ngIf="errors?.validateOneOrNoneCustomControlArray && errors?.validateOneOrNoneCustomControlArray[i]?.description">Description cannot be empty</span>
                              <span *ngIf="errors?.validateMaxLength && errors?.validateMaxLength[i]?.description?.maxlength">{{errors?.validateMaxLength[i]?.description?.maxlength}}</span>
                              <span *ngIf="errors?.validateMinLength && errors?.validateMinLength[i]?.description?.minlength">{{errors?.validateMinLength[i]?.description?.minlength}}</span>
                          </span>
                      </div>
                    </div>
                                               
                    <div mysize="9" class="cmsAlignLeft">
                        <button *ngIf="scholarships.length-1" type="button" (click)="removeScholarship(i);" class="btn cmsButton cmsFont">Remove</button>
                        <button *ngIf="i+1 == scholarships.length" type="button" (click)="addScholarship();" class="btn cmsButton cmsFont">+ Add More</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>