<div class="row" id="seo_specification_form">
  <div mysize="12">
      <div class="x_panel">
         <div [class.x_title]="opened">
               <ul class="nav navbar-left panel_toolbox">
                      <li><a class="collapse-link" (click)="toggle()"><i [class]="opened?' fa fa-chevron-up':' fa fa-chevron-down'"></i></a></li>
                </ul>
             <h2>SEO Specifications</h2>
             <div class="clearfix"></div>
         </div>
               <div class="x_content" [hidden]="!opened">             
                  <div class="form-group">
                     <label mysize="3" class="cmsFont cmsAlignLeft">SEO title<span></span></label>
                     <div [mysize]>
                        <input #seoTitle="ngModel" type="text" name="seoInsTitle" [(ngModel)]="instituteObj.seo_title"   [registerForm]="form" [registerModel]="seoTitle">
                     </div>
                  </div>
                  <div class="form-group">
                     <label mysize="3" class="cmsFont cmsAlignLeft">SEO description<span></span></label>
                     <div [mysize]>
                         <!-- <input #seoDescription="ngModel" type="text" name="seoInsDescription" [(ngModel)]="instituteObj.seo_description"   [registerForm]="form" [registerModel]="seoDescription"> -->

                         <textarea type="text" #seoDescription="ngModel" name="seoInsDescription" [(ngModel)]="instituteObj.seo_description"   [registerForm]="form" [registerModel]="seoDescription"></textarea>
                         <p class='cmsFont'>If the above “SEO Title” or “SEO Description” field is empty, the default formats below are live on I/ULP.</p>
                         <b>Default SEO Title : </b><p>{{"<"+"UILP_NAME"+">, <"+"UILP_Location"+"> - Courses,Fee,Placement Reviews, Ranking, Admission <"+"year>"}}</p>
                         <b>Default SEO Description :</b>
                         <p>{{"Check <"+"course_count"+"> Courses, <"+"review_count> Reviews and <"+"Question_count> Answered Questions on cutoff, placement reviews, ranking, admissions, fees and eligibility for <"+"UILP_NAME>,<"+"UILP_Location> (<"+"Second Popular Name"+">)"}}</p>
                         
                     </div>
                  </div>
              </div>
          </div>
    </div>
</div>