.ctp-filter-sec {width: 100%;background: #fff;box-sizing: border-box;font-size: 0.875rem;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);margin-bottom: 12px;}

#tab-section .ctp-filter-sec a, .ctp-filter-sec a {color: #000;vertical-align: middle;text-decoration: none;display: table-cell;text-align: center;padding: 10px;font-size: 0.875rem;font-weight: 600;}
.ctp-filter-sec a:before, ul.ctpLocList li a:before , .reset-ico, .filter-icon{content: '';background: url(https://images.shiksha.ws/pwa/public/images/pwa-header-mobile-v3.svg) no-repeat;display: inline-block;background-position: -350px -41px;width: 20px;height: 16px;position: relative;top: 1px;}
.ctp-filter-sec a span{color: #000000; font-size: 0.75rem;}

.ctp-filtr-selectn{background: #f9f9f9; padding: 10px; margin-top: 0;border-bottom: 1px solid #e0e0e0; width: 100%;display: inline-block}
.ctp-filtr-selectn .clear-all{ color: #008489;display: inline-block; float: right;font-size: 0.75rem; margin: 5px 5px 2px 5px; text-decoration: none;  line-height: 20px; font-weight: 600;position: relative}
.ctp-filtr-selectn .clear-all:before {content:  '';background: linear-gradient(90deg,rgba(249,249,249,0) 14%,rgba(249,249,249,.87) 45%,rgba(249,249,249,1) 73%);position: absolute;left: -34px;width: 29px;height: 45px;top: -15px;opacity: 0.99;z-index: 1;}
.fltr-ovrflw{overflow: auto;-webkit-overflow-scrolling:touch;position: relative}
.ctp-filtr-selectn .selectd-fltr{width: 80%; white-space: nowrap;min-width: max-content;-webkit-overflow-scrolling:touch}
.ctp-filtr-selectn .selectd-fltr .select-box{border: 1px solid #ccc; padding: 2px 6px; color: #000; width: auto; font-size: 0.75rem; line-height: 20px;  margin: 0 3px; display: inline-block;background: #fff}
.ctp-filtr-selectn .selectd-fltr .select-box .remove-city{color: #000;font-size: 1.125rem;text-decoration: none; margin-left: 5px; position: relative; top: 1px; line-height: 20px;}
.ctp-filters{width:100%;display: inline-block}
.ctp-filter-section {height: 100%;overflow: hidden;position: relative;width: 100%;}
ul.ctp-filterList{ width: 40%;height: 100%;margin: 0;padding: 0;float: left;background: #f9f9f9;border-right: 1px solid #e0e0e0;}
ul.ctp-filterList li {padding:0;border-bottom: 1px solid #e0e0e0;list-style: none;position: relative;height: 44px;line-height: 42px;}
ul.ctp-filterList  li a.ctp-filter-col {text-align: left;padding:0 0 0 8px;font-size: 0.75rem;color: #666;width: 82%;display: inline-block;text-decoration: none;box-sizing: border-box;}
span.fltr-count{font-size: 0.625rem;color: #999;text-align:  center;display:  inline-block;width: 13%;padding-right: 2px;}
ul.ctp-filterList  li a.ctp-filter-col.exmsaccpt{line-height: 14px;position: relative; top: 5px;}
ul.ctp-filterList  li.active {background: #fff;}
ul.ctp-filterList  li.active a.ctp-filter-col {background: #fff; color: #000; box-sizing: border-box;font-weight: 600;}
.ctp-filter-section .ctp-fltOptions{background: #fff; width: 60%; height: 100%; z-index: 9999; float: right;
    overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch;padding:0 10px 10px 10px;}
.ctp-srcFld{background: #fff;color: #666; font-size: 0.6875rem; width: 100%; box-sizing: border-box; padding: 13px 0; position: relative;  border-bottom: 1px solid #e7e7e7;}
.ctp-srcIcn{background-position: -312px -45px;width: 20px;height: 12px;display:  inline-block;position:  relative;top: 2px;}
.ctp-locFld{border: none; outline: 0; width: 82%; background: #fff; line-height: 17px; z-index: 99; font-size: 0.75rem;}
ul.ctpLocList{width: 100%; float: left; z-index: 97; box-sizing: border-box;}
ul.ctpLocList li{list-style: none;display: inline-block;width: 100%;}
ul.ctpLocList li a{width: 100%; font-size: 0.75rem;line-height: 16px; padding: 10px 0 10px 27px; box-sizing: border-box; word-wrap: break-word; display: block;cursor: pointer;position: relative; color: #666;text-decoration: none;}
ul.ctpLocList li a:before{background-position: -294px -48px;width: 24px;height: 10px;position: absolute;top: 50%;margin-top: -5px; left: 0;}
ul.ctpLocList li a.checked:before{background-position:-276px -48px;}
ul.ctpLocList li a.checked{ font-weight: 600;  color: #000;}
.ctp-applySec{background: #fff;padding: 14px 0; width: 100%; position: fixed; bottom: 0;
    text-align: center; border-top: 1px solid #e0e0e0;z-index: 10000}
.hide{display:none;}
.ctp-filtr-selectn .selectd-fltr .select-box.hide{display: none}
a.cnt-morLnk {font-size: 0.875rem; color: #008489;}
ul.ctpLocList li.disable a, ul.ctpLocList.ctp-SbList li.disable a { color: #d0d0d0;pointer-events: none;}
ul.ctpLocList.ctp-SbList { padding-left: 13px;}
.loader-col-msearch {
    position: fixed;
    background: rgba(0,0,0,.45) none repeat scroll 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}
.three-quarters-loader-msearch {
    background: url(https://images.shiksha.ws/public/mobile5/images/ShikshaMobileLoader.gif);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 46%;
    top: 40%;
    margin-left: -24px;
    margin-top: -24px;
    box-shadow: 0 0 8px 2px #b5b5b5;
    border-radius: 50%;
}
.filter-rmv {
    width: 100%;
    float: left;
    padding: 5px 10px;
    box-sizing: border-box;
}
.filter-msg {
    margin: 0 auto 30px auto;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    width: 100%;
    float: left;
}
.filter-rmv a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ccc;
    float: right;
    line-height: 18px;
}
.filter-apply-btn {
    width: 100%;
    color: #0ea4b4;
    font-size: 0.75rem;
    display: table;
    border-top: 2px solid #eee;
    box-sizing: border-box;
}
.filter-apply-btn a {
    display: table-cell;
    text-decoration: none;
    color: #0ea4b4;
    font-weight: 600;
    border-right: 1px solid #eee;
    padding: 10px;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}
ul.ctp-filterList li:last-child{
 /*   padding-bottom: 200px;/*200px*/
}
ul.ctpLocList li:last-child{
    /*padding-bottom: 150px;*/
}
ul.ctpLocList.ctp-SbList li a{width: 96%;padding:10px 15px 10px 27px;}
ul.ctpLocList.ctp-SbList li:last-child{ padding:5px 0;}
ul.ctp-filterList{
    overflow-y: auto;
}
.display-none {
    display: none;
}
#fixed-card.fix {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 0;
    border: none;
    top: 0;
}
.sltd-fltOpt{
    padding-right: 20px;
}
.d-i
{
    display: inline-block;
}
#div-gpt-ad-1533107492285-3 {display: none;}

.reset-ico {
    background-position: -330px -41px;
    display: inline-block;
    width: 20px;
    top: 2px;
    height: 16px;
}
.filter-widget{padding:12px 0;text-align:center}
.filter-widget .filter-items{margin-top:10px}
.filter-item-list{list-style:none;display:block;min-width:100%;white-space:nowrap;overflow:auto}
.filter-item-list li{list-style:none;display:inline-block}
.filter-items{width:100%;position:relative}
.filter-capsule{padding:6px 8px 4px;margin:0 5px;display:inline-block;border:1px solid #000;border-radius:2px}

.flex{display:flex}
.filter-area{width:100%;padding-right:0}
.filter-area.flex{justify-content:left}
.optionBlock{overflow:hidden;display: block;}
.filter-area > div{padding:7px 4px}
.filterBlock{position:relative}
.flex.filter-area.non-tcf-filter{justify-content: center;}
.filter-area.non-tcf-filter > div.filterBlock{
    width: 100%;border: none;text-align: center;}
.non-tcf-filter .filter-icon{
    display: inline-block;margin-right: 3px;}
.filter-area > div.filterBlock{padding-left:5px;display: table-column;min-width: 80px;border-right: 1px solid #d0d1d1;text-align: center}
.filter-icon{background-position:-348px -41px;bottom:0px;left:0px;display: block;margin: 0 auto;}
#tab-section{overflow: hidden;}
.flex.filter-area{flex: 1;}
.filterCount{color: #666;
    font-size: 0.75rem;}
.filter-item-list::-webkit-scrollbar{display: none;}
.dspTbl{display: table !important;}
.fixed-card-wrapper{height: 49px;}


/**mobile css **/
.ctp--sticky_filters{position:fixed;bottom:0;z-index:99;background:#fff;left:0;right:0;box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.50);
    border-color: rgba(223,225,229,0);display:flex;width:100%;justify-content:center;flex-direction:row}
.filter_labels{width:50%;padding:13px 10px;text-transform:uppercase;font-size:0.875rem;text-align:center}
.filter_labels:nth-child(2){border-left:1px solid #ccc}
.filter_labels .filter-icon{display: inline-block;margin-right: 3px;top: 0px;margin-bottom: -1px;}
