@charset "utf-8";
/* CSS Document */
.bdr{border:1px solid #F00;}
.bdr1{border:1px solid #090;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { background: transparent; border: 0; margin: 0; outline: 0; padding: 0;}
body {
	margin:0 auto;
	background:#ebeaea;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background: url(../images/campaignCAT/mainBG.jpg) repeat left top;
}
.OrgangeFont{font-size:20px; color:#FD8103; font-weight:bold;}
#display_username {font-size:12px !important; font-weight:700 !important;}
.Txt12{font-size:12px; padding-top:2px;}
.almReview{background-position: -88px -52px !important; width:33px; height:29px; float:left;}
.ExprtAdv{background-position: -42px -52px !important; width:33px; height:29px; float:left;}
.CnctMBA{background-position: left -52px !important; width:33px; height:29px; float:left;}
.Searchcolz{background-position: -42px top !important; width:33px; height:29px; float:left;}
.Getcolz{background-position: left top !important; width:33px; height:29px; float:left;}
.bubble{background-position: -89px top !important; height:38px; width:349px; text-align:center; color:#303030; font-size:15px; line-height:26px;}
.bubble, .Getcolz, .Searchcolz, .CnctMBA, .ExprtAdv, .almReview{background:url(../images/campaignCAT/IMG-sprite.gif) no-repeat;}
h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:35px; color:#343434; margin-top:22px;}
h3{font-size:16px; color:#31dddb;}
h4{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:30px; color:#3f3f3f; font-weight:normal; padding-bottom:3px;}
#Theader{background:url(../images/campaignCAT/topheaderBG.jpg) repeat-x left top; height:104px;}
#lftColumn{float:left; padding-left:23px; width:366px;}
.mainWrapper{width:970px; margin:0 auto; padding:0 15px; clear:both;}
.fl_LFT{float:left;}
.fl_RHT{float:right;}
.clr{clear:both; height:1px; overflow:hidden; font-size:1px;}
.frmTopHeader{margin-top:93px; width:474px; height:11px; overflow:hidden; float:right;}
.WrapperIMG{background:url(../images/campaignCAT/pathImage.jpg) no-repeat left top; height:603px;}
.Txt13{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; color:#4d6376; padding-left:14px;}
#formWrapper{background:url(../images/campaignCAT/formBG.gif) repeat-y left top; width:414px; padding:0 30px 20px 30px; box-shadow: 0 6px 5px -5px #c0bdb8}
#FooterWrap{background:url(../images/campaignCAT/footerBG.gif) repeat-x left top; height:301px; clear:both; padding-top:19px;}
#FooterWrap .ftrContWrap{width:912px; margin:0 auto; padding-bottom:29px;}
#FooterWrap ul, #FooterWrap li {
    list-style: none outside none;
}
.sepratorDiv{background:url(../images/campaignCAT/sepImg.gif) repeat-x left top; height:18px; overflow:hidden;}
#FooterWrap div.ftrContWrap ul li{
    color: #4B4B4B;
    float: left;
    line-height: 29px;
    list-style: none outside none !important;
    margin-bottom: 10px;
	color:#ffffff;
    width: 48%;
}
.ftrTxt{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#bbc4cb; text-align:center; padding-top:10px;}


/* FORM1 */
.txt11{font: normal 11px; color:#000000; margin:0px 0px 20px 10px;}
.lineSpace_10{clear:both;}
#addwikkicontent_flag {padding-left: 20px;}
#ug_detials_courses{float:left;}
#subCategory1{width:113% !important; font-size:12px;}
.formFieldTextRight{font-size:12px; width:212px !important;}
.formFieldTextLeft{width:128px !important}
_fontSize_14p{font-size:14px;}
