#predictor-wrap{padding:0 10px;}
#predictor-box{width: 969px;background:#FFFFFF;margin-bottom:35px}
.predictor-box-sticky{position:fixed;z-index:10000;top:0px;}
#predictor-tab{float:left; width:215px; background:#ececec; border-style: solid; border-color:#dedede; border-width:1px 0 0 1px; box-shadow:-2px 3px 2px #D8D8D8; position:relative; z-index:9}

#predictor-tab ul li a{display:block; padding:18px 5px; font:normal 18px 'Open Sans', sans-serif;; color:#7c7c7c; margin-left:5px; text-decoration:none}
#predictor-tab ul li.active{border:0 none}
#predictor-tab ul li.active a{background:#fff; box-shadow:-2px 2px 2px #d8d8d8; color:#000}
#predictor-tab-details{border-style: solid; border-color:#dedede; border-width:1px 1px 1px 1px; margin-left:213px; box-shadow:0 3px 4px #d8d8d8; padding:20px; position:relative; z-index:0; background: #fff;}
#predictor-tab-details ol{margin:0; padding:0}
#predictor-tab-details ol li{float:left; width:100%; margin-bottom:18px}
#predictor-tab-details ol li label{width:184px; float:left; text-align:right; font-size:14px; color:#7f7f7f; padding-top:4px}
.predictor-field-wrap{margin-left:187px}
.field-styles, .pre-select{border:1px solid #adadad; padding:3px 6px; font:normal 14px 'Open Sans', sans-serif; box-shadow:1px 1px 2px #c3c3c3; color:#898989; width:206px}
.pre-select{background:#fff url(../images/select-arrow2.gif) no-repeat right 50%; appearance: none; -ms-appearance: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ''; width:220px; padding:3px 0; background-image:none\9}
.pre-select::-ms-expand{display: none;}
/* IE9, IE10 */
@media screen and (min-width:0\0) { 
.pre-select{padding:3px 6px;}
}
h2.tab-title{display:block; margin-left:31px; margin-top:-4px; font-size: 18px; font-weight: normal;}
.rank-icon, #predictor-tab ul li.active .rank-icon{background-position:0 -62px !important; width:18px; height:18px; float:left; top:2px}
#predictor-tab ul li.active .rank-icon{background-position:0 -40px !important;}
.cutoff-icon, #predictor-tab ul li.active .cutoff-icon{background-position:-20px -62px !important; width:15px; height:20px; float:left;}
#predictor-tab ul li.active .cutoff-icon{background-position:-20px -40px !important;}
#predictor-tab ul li.active .branch-icon{background-position:-37px -40px !important;}
.predictor-sprite{background:url(../images/college-predictor-sprite.png); display:inline-block;font-style:none; vertical-align:middle; position:relative}
/*.customInputs input[type="radio"], .customInputs input[type="checkbox"]{display: none; display:inline-block\9}
.customInputs input[type="checkbox"] + label span{background-position:-31px -21px; background-color:rgba(0, 0, 0, 0); cursor: pointer; display: block; margin:0; vertical-align: middle; width:14px; height:14px; float:left; display:none\9}
.customInputs input[type="checkbox"]:checked + label span{background-position:-46px -22px; background-color:rgba(0, 0, 0, 0); }
.customInputs input[type="radio"] + label span{background-position:0px -22px; background-color:rgba(0, 0, 0, 0); cursor: pointer; display: block; height: 13px; margin: 1px 4px 0 0; vertical-align: middle; width: 14px; float:left; display:none\9}
.customInputs input[type="radio"]:checked + label span{background-position:-15px -22px; background-color:rgba(0, 0, 0, 0);}
.customInputs label p{margin-left:20px; color:#333;font-size:13px; display:inline\9; margin:0\9; line-height:16px}*/
.predictor-head{float:left; width:790px; margin:10px 0;}
.predictor-head h1.hid {display: none}
.predictor-head h1{color:#898989; font:bold 24px 'Open Sans', sans-serif; margin-bottom:15px; display:block}
.orange-button2, .orange-button2-disable{background: #eea234; border:1px solid transparent; padding: 5px 26px; color: #fff !important; font-size: 16px; text-decoration: none !important;vertical-align: middle; display:inline-block; font-weight:bold}
.modify-icon{background-position:-55px -40px; width:9px; height:17px; margin-right:5px; vertical-align:baseline; position:relative; top:2px;}
.orange-button2-disable{background:#b9b9b9;cursor: default;}
.orange-button2-disable .modify-icon{background-position:-82px -22px; width:17px; height:9px; top:-1px;}
.result-container{float:left; width:100%; }
.result-container h4, .predictor-head h4, .filter-zero-result{color:#898989; font-size:20px;margin-bottom:15px;display:block !important;}
.result-container h4 span, .predictor-head h4 span{color:#f88640;}
.modifyBtn{margin-top:42px; float:right}
.filter-head{width:100%; float:left; margin-bottom:5px; font-size:14px; color:#898989;}
.filter-col{width:218px;min-height:200px; float:left;margin-bottom:20px;}
.filter-child-wrap{border:1px solid #e2e2e2; padding:10px 5px; float:left;width:100%; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box;  box-sizing:border-box;}
.filter-categories{border-bottom:1px solid #e2e2e2; padding-bottom:10px; margin:0px 5px 16px 5px; float:left; width:96%; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box;  box-sizing:border-box;}
.filter-child-wrap .last{border-bottom:0 none !important; margin-bottom:0 !important; padding-bottom:5px !important}
.filter-categories h5{font-size:18px; font-weight:bold;  color:#777; margin-bottom:10px;display:block}
.filter-categories .branch-icon{top:3px}
ul.filter-list, ul.dropdown-list{/*float:left !important;*/}
ul.dropdown-list{padding:2px 0 0 3px}
ul.filter-list li, ul.dropdown-list li{float:left !important; margin-bottom:5px !important; padding:0; width:98%;}
ul.dropdown-list li label{float:left !important; text-align:left !important; padding:0 !important}
.dropdown-layer{border:1px solid #ADADAD; position:absolute; left:-1px;top:23px; background:#fff; width:210px; padding:5px 10px; z-index:2; -webkit-box-shadow:1px 1px 1px #CCCCCC; -moz-box-shadow:1px 1px 1px #CCCCCC;box-shadow:1px 1px 1px #CCCCCC;}
ul.filter-list li.active{font-weight:bold;}
.round-icon, .branch-icon, .loc-icon, .collg-icon{background-position:0 0; width:15px; height:20px; margin-right:6px; vertical-align:top}
.branch-icon{background-position:-17px 0px; width:15px; height:17px; float:left;}
.loc-icon{background-position:-35px 0; width:11px; height:17px;vertical-align:middle; top:-3px}
.collg-icon{background-position:-49px 0px; width:17px; height:16px; top:3px}
.filter-search{border:1px solid #ccc;margin:4px 0px 8px; width:192px; padding:4px;}
.filter-search-icon{background-position:-62px -22px; width:16px; height:16px;}
.filter-search input[type="text"]{border:0; outline:none;width:275px;color:#898989;font: 14px 'Open Sans',sans-serif}
.font-12{font-size:12px;}
.result-right-col{margin:37px 0 0 230px}
.search-result-table{width:100%;margin-bottom:5px; border-bottom:1px solid #e8e8e8;}
.search-result-table tr th{background:#6d9bd3;color:#fff; font-size:14px; padding:8px; border-bottom:4px solid #a5c4ea; border-right:1px solid #a7bbd5; text-align:left;}
.search-result-table tr td{font-size:14px; padding:12px; border-right:1px solid #e5e5e5; vertical-align:top;color:#686868; line-height:20px}
.search-result-table tr td p{margin-bottom:5px; color:#686868}
.search-result-table tr td span{display:block; color:#a4a4a4}
.search-result-table tr td.last-item{border-right:0 none;}
.alt-rowbg{background: #f8f8f8;}
.gray-bro-btn{background:#f9f9f9; border:1px solid #e6e7e8; padding:3px 8px; color:#727070 !important; font-size:11px; text-decoration:none !important;}
.more-result{background:#f8f8f8; border:1px solid #f3f3f3;}
.more-result a{font-size:13px; padding:6px; text-align:center; display:block}
.result-pagination ul{float:right; color:#cecccc;}
.result-pagination ul li{float:left;margin-right:6px;}
.result-pagination ul li a{font-size:13px;}
.mail-icon{background-position:-69px 0; width:16px; height:12px; margin-right:2px;}
.print-icon{background-position:-88px 0; width:19px; height:19px; margin-right:2px;}
.invite-icon{background-position:-110px 0; width:17px; height:19px; margin-right:2px;}
.helpful-info{background:#f8f8f8;border:1px solid #ebebeb;margin:0px 0 10px 0; padding:15px; color:#686868; font-size:14px;display:inline-block;width:100%;-moz-box-sizing:border-box;  -webkit-box-sizing:border-box;  box-sizing:border-box;}
.vote-section{margin:8px 0 0 0;}
.upVote-icon, .dwnVote-icon, .upVote-orng-icon, .dwnVote-orng-icon{background-position:-148px 0; width:15px; height:14px;}
.dwnVote-icon{background-position:-130px 0;}
.branch-image{ width:261px; height:240px;}
.cutoff-image{ width:349px; height:240px;}
.rank-image{ width:307px; height:264px;}
.scrollbar1 .viewport, .scrollbar2 .viewport_h { overflow: hidden; position: relative;}
.scrollbar1 .overview, .scrollbar2 .overview_h { list-style: none; padding: 0; margin: 0; position: absolute; left: 0; top: 0;}
.scrollbar1 .scrollbar{position: relative; float: right; visibility:hidden}
.scrollbar1 .track, .locality-layer .track{background:#EAEAEA; height: 100%; width:2px;position:relative;}
.scrollbar1 .thumb, .locality-layer .thumb{background:#EDEDED; height:90px; width:6px; cursor:pointer; overflow:hidden; position:absolute; top:0; left:-2px; border:1px solid #C7C7C7}
.scrollbar1 .thumb .end{ background: transparent; overflow: hidden; height: 5px; width: 25px; }
.scrollbar1 .disable{display: none;}/*}*/
.search-arr{background-position:-65px -40px; width:9px; height:17px; vertical-align:middle; margin:0 3px;}
#loading { width: 100%; height: 100%; top: 0px; left: 0px; position: fixed; display: block; opacity: 0.7; background-color: #fff; z-index: 999; text-align: center;}
#loading-image {position: absolute;top: 300px;left: 630px;z-index: 100;height:40px;}
.disclaimer-sec{font-size: 12px; color: #666666; line-height: 17px;  margin: 35px 0 35px 0; text-align: left; padding:10px;background:#f8f8f8}
.tick-icon{background-position:-37px -62px; width:18px; height:13px; top:3px;}
.bro-btn-disable{background: #A3A3A3 !important; color: #e2e2e2 !important; cursor: default;}
.find-rank{position: absolute; font-size: 11px; left: 103px;}
.layer-table1{width:100%; border-collapse:collapse; font:normal 12px 'Open Sans',sans-serif}
.layer-table1 tr td, .layer-table1 tr th{padding:10px 10px; border:1px solid #d2d2d2;}
.layer-table1 tr th{text-align:left; background:#d8d8d8}
.invite-txtarea{border-radius:3px; box-shadow: 0 1px 3px #E0E0E0 inset; border: 1px solid #DBDBDB; padding: 10px;margin-top:5px;}
.comment-section{margin:5px 0 0 0;}
.comment-box{margin:15px 0 0 0;}
.thnku-msg{color:#acacac; font-size:12px;}
.comment-box{position:relative;}
.commnt-textarea{width:250px; outline:none; border:1px solid #d6d6d6; padding:5px; color:#acacac; font-size:12px;}
.comment-arrw{background-position:-130px -40px; width:28px; height:14px; position:absolute; top:-12px; left:20px;}
.sbmt-btn{color:#fff; background:#F78640; padding:5px 8px; outline:0 none; border:0 none; font-size:13px; font-weight:bold; position:relative; top:-8px; cursor:pointer;}
.upVote-orng-icon{background-position:-147px -22px;}
.dwnVote-orng-icon{background-position:-130px -22px;}

.sorting-arrows{float:left; width:11px; margin:-8px 0 0 5px; height:6px;}
.sort-by-high, .sort-up-arr{margin-bottom:5px}
.sort-by-high, .sort-by-low, .sort-up-arr, .sort-dwn-arr{background-position:-93px -40px; width:11px; height:6px; cursor:pointer;}
.sort-by-low{background-position:-78px -52px;}
.sort-up-arr{background-position:-78px -40px;}
.sort-dwn-arr{background-position:-93px -52px;}
.help-tool{border:1px solid #d5d5d5; background:#fff; padding:7px 0px;width:105px; border-radius:10px; position:absolute; top:45px; right:0px}
.help-tool .help-pointer{width:13px; height:15px; background-position:-114px -22px; position:absolute; top:-15px; right:22px;}
.help-tool .help-content{text-align:center; font-size:12px; color:#000; font-weight:bold;}
/*.customInputs input[type="checkbox"]:disabled + label span{background-position:-57px -62px;width:12px; height:13px;}
.customInputs input[type="checkbox"]:checked:disabled + label span{background-position:-72px -62px;width:14px; height:14px;}
.customInputs input[type="checkbox"]:checked:disabled + label p{color:#cecece;}
.customInputs input[type="checkbox"]:disabled + label p{color:#cecece;}*/
#toTop{cursor:pointer;display:none;z-index: 100;position: fixed;top: 80%;margin-top: 10px;margin-left: -62px;-moz-border-radius: 12px;-webkit-border-radius: 12px;border-radius: 12px;width: 100px;line-height: 15px;height: 15px; padding: 5px;background-color: #666;font-size: 13px;text-align: center;color: #fff;}

.selection-criteria{margin:5px 0 10px 0; width:100%; display: block;}
.selection-criteria p{font-size:13px; color:#898989;margin:0 20px 6px 0; display: inline-block;}
.cross-icon{background:#cbc3c3; width:16px; height:16px; border-radius:50%; color:#fff !important; text-decoration:none !important; font-size:12px; display:inline-block; font-weight:bold; text-align:center; margin-left:4px;}
.disable{background:#e8e4e4;cursor:default}
p.disable-text-color{color:#cbc3c3}


.rank-image-jee-mains, .cutoff-image-jee-mains, .branch-image-jee-mains{background: url(/public/images/collegepredictor/exam-sprite-jee-mains.jpg) no-repeat; display: inline-block; position: absolute; bottom: 0; right: 0; z-index: -1;  height:264px;}
.rank-image-jee-mains{background-position:0 0; width:288px;}
.cutoff-image-jee-mains{background-position:-298px  0; width:350px;}
.branch-image-jee-mains{background-position:-658px  0; width:277px;}

.rank-image-comedk, .cutoff-image-comedk, .branch-image-comedk{background: url(/public/images/collegepredictor/exam-sprite-comedk.jpg) no-repeat; display: inline-block; position: absolute; bottom: 0; right: 0; height:231px;}
.rank-image-comedk{background-position:0 0; width:306px;}
.cutoff-image-comedk{background-position:-317px 0; width:272px;}
.branch-image-comedk{ background-position:-603px 0; width:230px}

.rank-image-kcet, .cutoff-image-kcet, .branch-image-kcet{background: url(/public/images/collegepredictor/exam-sprite-kcet.jpg) no-repeat; display: inline-block;position: absolute; bottom: 0; right: 0; height:264px;}
.rank-image-kcet{background-position:0 0; width:298px;}
.cutoff-image-kcet{background-position: -308px 0; width:269px;}
.branch-image-kcet{ background-position:-592px 0; width:268px;}

/*26 march 2015 css*/
.predictor-rank-box{border:1px solid #eaeaea;padding:10px 15px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; color:#666; -moz-box-shadow:0 1px 1px #eee;-webkit-box-shadow:0 1px 1px #eee;box-shadow:0 1px 1px #eee;margin-bottom:20px; font-size:14px; width:100%; float:left; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.predictor-title-box{width:73%; position:relative}
.predictor-title-box p, .predictor-title-box h1{margin-bottom:8px; font-weight:normal; color: #666 !important; display: block;}
.font-24{font-size:24px;}
.predictor-info{color:#fff; display:inline-block;padding:4px; width:9px; height:9px; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; background:#ccc; text-align:center; line-height:10px; font-style:italic; cursor:pointer; position:relative}
.powered-title{font-size:12px; margin-bottom:4px;text-align:center}
.predictor-rank-form{width:100%; text-align:center;margin-top:10px;}
.predictor-rank-form h2{font-weight:normal; font-size:14px;}
.predictor-rank-form ul{width:100%; margin:20px 0 10px; float:left; padding:0 185px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.predictor-rank-form ul li{float:left; margin-bottom:8px; width:100%;}
.predictor-rank-form ul li .predictor-column{width:40%;}
.predictor-rank-form ul li .predictor-column label{float:left; color:#8e8a8a; font-size: 14px; }
.predictor-textfield, .predictor-select-field{margin-top:4px; width:100%; border:1px solid #dedede; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding:8px 5px; background:#f7f5f5;}
.predictor-select-field{width:235px;}
.predictor-errmsg{color:#ff0101; text-align:left; font-size:11px;}
.err-txtfield{border:1px solid #ff0101 !important;}
.predict-rank-btn{background:#05828d; color:#fff !important; font-size:18px; padding:5px 40px; display:inline-block; margin:30px 0 0; text-decoration:none !important; border:1px solid #05828d;}
.predicted-rank{background:#f5f5f5;}
.helpful-text{display:inline-block; margin-right:5px; vertical-align:middle; color:#b8b7b7; font-size:12px; padding-top:4px;}
.predict-disclaimer-txt{color:#a3a3a3; font-size:9px; margin-top:20px; }
ul.board-score-sec{width:100%; float:left; padding-top:10px; border-top:1px solid #e1e1e1; margin:10px 0 5px;}
ul.board-score-sec li{float:left; font-size:18px; color:#6a6a6a; margin-right:20px;}
.score-sep{ display:inline-block; color:#e1e1e1}
.predcit-reset-btn{border:1px solid #d4d4d4; background:#ddd; padding:4px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; color:#575757 !important; font-size:14px; text-decoration:none !important; }
.font-30{font-size:30px; font-weight:normal;}
.predict-tooltip{background:#fff; border:1px solid #e9e9e9;padding:4px 8px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -moz-box-shadow:0 1px 2px #ccc; -webkit-box-shadow:0 1px 2px #ccc; box-shadow:0 1px 2px #ccc; width:280px; color:#6a6a6a; font-size:12px; position:absolute; top:52px; right:-90px;}
.rankPredictorTitle{color:#898989; font-size:20px;margin-bottom:15px;display:block !important;}


/*1 April 2015 css*/
.predictor-rank-fullWidget{background:#f7f7f7;border:1px solid #ededed; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:13px 18px;}
.college-predictor-icon{background-position:0 -85px; width:85px; height:66px; position:relative; top:2px;}
.collge-predictor-rnk-info{font-size:18px; color:#373737; margin-left:100px;}
.collge-predictor-rnk-info p{margin-bottom:5px}
.font-14{font-size:14px; color:#747474;}
.rnk-sprtr{color:#d6d7d7; margin:0 8px; font-weight:bold;}
.yes-no-link{color:#006fa2 !important; font-weight:bold; }
.hideTextPredictor{cursor: pointer; position: absolute; right: 2px !important; top: 33px !important;}
.pred-passFld{outline: 0; border: none; width:79%; background: #f7f5f5;}

.clg-predctr {margin-top: 7px}
.clg-predctr *{font-family:"Open Sans"}
#clg-bg{background: #223362 url("/public/images/collegepredictor/cp-banner.jpg") no-repeat top center;background-position: 76% 0%}
.niftBanner#clg-bg{background: #223362 url("/public/images/collegepredictor/nift-banner.jpg") no-repeat top center;background-position: 76% 0%}
.clg-bg{width: 100%; color: #fff; height: 246px;}
.clg-txBx{padding: 38px 260px 20px 12px;width: 495px;margin-left: 100px;}
.clg-txBx p{text-align: left;line-height: 22px;font-size: 18px;}
.clg-txBx p.sb-hdng{text-align: left;font-size: 18px;line-height: 22px;margin-top: 35px;font-weight: 600;}
.clg-txBx p span{font-size: 36px; font-weight: 700;display: inline-block}
.clg-txBx ul{margin: 13px 0 0 15px; font-size: 14px; font-weight: 400;}
.clg-txBx ul li{list-style: disc;margin-bottom: 1px;}

