#cms-wrapper{margin:10px 12px; font:normal 12px Arial, Helvetica, sans-serif; color:#000}
ul.custom-tabs{border-bottom:1px solid #cfcfcf; float:left; width:100%; margin:15px 0}
ul.custom-tabs li{float:left; margin-left:10px; border:1px solid #cfcfcf; border-bottom:0 none; padding:9px 15px; background:#fff url(/public/images/custom-tab-bg.gif) left bottom repeat-x; font-size:14px; cursor:pointer}
ul.custom-tabs li.active{background:#fff; margin-bottom:-1px; position:relative; padding:10px 15px 9px 15px; font-weight:bold}
.custom-title{font-size:18px; font-weight:normal; margin-bottom:20px}
.custom-sub-title{font-size:14px; font-weight:700; margin-bottom:5px; display:block; cursor:pointer; color:#0065DE}
.course-option-box{width:450px}
.course-option-child-box{border:1px solid #cdcdcd; padding:12px; *height:0.01%; margin-bottom:10px}
.course-option-child-box label{width:90px; float:left; text-align:right; font-weight:700; padding-top:3px}
.details-cont{width:325px; float:right;}
.course-option-child-box ul li, #specify-field-right ul li{margin-bottom:10px; width:100%; float:left}
.course-option-child-box ul li input, #specify-field-right ul li input{font:normal 12px Arial, Helvetica, sans-serif}
.save-button{background:url(/public/images/save-btn.gif) 0 0 no-repeat; width:55px; height:24px; border:0 none; cursor:pointer}
.pL-15{padding-left:15px;}
.buuton-row{text-align:center; margin-bottom:0 !important}
.course-field{width:90%; font:normal 12px Arial, Helvetica, sans-serif}
.option-dropDown{padding:5px 10px; width:250px; font:normal 16px Arial, Helvetica, sans-serif; margin-bottom:15px}
.opted-list{font-size:16px; display:block; font-weight:normal; margin-bottom:10px}
#specify-field-left,#specify-field-right{width:682px; float:left; border:1px solid #cbcbcb}
#specify-field-right{width:240px; float:right; padding:10px}
#specify-field-left ul li{padding:15px; overflow:hidden; border-bottom:1px solid #e7e7e7}
#specify-field-left div.col-1,#specify-field-left div.col-2,#specify-field-left div.col-3,#specify-field-left div.col-4,#specify-field-left div.col-5{float:left; width:108px; padding-right:8px;}
#specify-field-left div.col-2{width:85px;}
#specify-field-left div.col-3{width:200px; text-align:right; padding-right:10px}
#specify-field-left div.col-4{width:280px;}
#specify-field-left div.col-5{float:right; width:25px; padding:0}
#specify-field-left div.col-1 select{width:70px}
#specify-field-left div.col-4 select{width:240px}
#specify-field-left div.col-3 span{color:#F00; font-weight:bold; font-size:16px}
#specify-field-right label, #specify-field-right span{width:auto; padding:3px 5px 0 0; float:left}
#specify-field-right span {width:100px;}
.col-5{width:130px;float:left}
