/*engineering Predictor Css*/
.rank-pred-wrap{width:988px;margin:0px auto;padding:0}
.rank-pred-wrap .exam-name-disp{background:#fff;width:988px;float:left;}
.rank-pred-wrap .exam-name-disp h2{color:#8b8b8b;font-weight:600;font-size:18px;padding:30px 20px 10px 20px;display: block;}
.rank-pred-wrap .exam-name-disp h1{font-size:20px;color:#4e4e4e;margin-top: 30px;padding:0px 20px;font-weight:700;margin-bottom: 0px;display:block;}
.rank-pred-wrap .exam-name-disp h2 span.get-dtls, .rank-pred-wrap .exam-name-disp strong span.get-dtls{font-size:12px;color:#A2A9AE;font-weight:400; display:block;margin-top: 10px;}

.rank-pred-wrap .get-exam-dtls{width:988px;background:#fafafa;float:left;padding:25px 20px 5px 25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.rank-pred-wrap .exams-cards{width:100%;float:left}
.rank-pred-wrap .exams-cards li{display:block;float:left}
.rank-pred-wrap .exam-card-dtls{width:212px;-webkit-box-shadow:1px 1px 1px 0 #dfdfdc;-moz-box-shadow:1px 1px 1px 0 #dfdfdc;box-shadow:1px 1px 1px 0 #dfdfdc;float:left;height:auto;background:#fff;display:block;position:relative;border-bottom:2px solid #fff;margin-right:20px;margin-bottom:20px;}
.rt{margin-right:0}
.rank-pred-wrap .exam-card-dtls h1{color:#353535;font-weight:700;padding:15px 20px;font-size:15px;width:100%}
.rank-pred-wrap .exam-titl{padding:10px 20px;display:block;background:#fff;text-decoration:none;font-size:14px}
.rank-pred-wrap .exam-titl strong{color:#5d5d5d;font-weight:600;font-size:14px;display:block;width:100%;text-align:center}
.rank-pred-wrap .exam-card-dtls:hover{-webkit-box-shadow:3px 4px 6px 1px #dfdfdc;-moz-box-shadow:3px 4px 6px 1px #dfdfdc;box-shadow:3px 4px 6px 1px #dfdfdc;border-bottom:2px solid #f90;border-top-right-radius:39px;display:block;text-decoration:none;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#c0c0c0')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#c0c0c0')}
.rank-pred-wrap .exam-card-dtls:before{pointer-events:none;position:absolute;content:'';height:0;width:0;top:0;right:0;background:#fff;background:-webkit-linear-gradient(225deg,#fafafa,#fafafa 50%,#e6e6e6 56%,#e6e6e6);background:linear-gradient(225deg,#fafafa,#fafafa 50%,#e6e6e6 56%,#e6e6e6);-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:width,height;transition-property:width,height}
.rank-pred-wrap .exam-card-dtls:hover:before{width:20px;height:20px}
.rank-pred-wrap .exam-date{padding:7px 11px 18px 11px;border-radius:4px;color:#7d7d7d;display:block;height:26px}
.rank-pred-wrap .exam-date small{font-size:20px;font-weight:700;float:left;line-height:12px;margin:5px 0 0 5px;color:#7d7d7d}
.rank-pred-wrap .exam-date span{font-size:8px;color:#7d7d7d}
.rank-pred-wrap .exam-date p{width:52px;float:left;padding:0;font-weight:400;margin-top:7px;font-size:10px;color:#999;margin-left:5px}
.rank-pred-wrap .get-exam-dtls h3{font-size:16px;padding:0 2px 6px 5px;display:inline-block;color:#8b8b8b;font-weight:normal;}
.get-exam-dtls h2 .get-dtls{font-size:12px;color:#8b8b8b;float:right;line-height:50px;font-weight:400}
.get-exam-dtls h2 hr{color:#d7d7d7}
.hline{width:100%;height:1px;background:#dadada;margin-bottom:20px;margin-left:2px}
.col-1{display:inline-block;float:left;margin-left:1px}
.col-2{display:inline-block;float:left;margin-left:2px}
.exam-card-dtls:hover .p{color:#828282}
.exam-card-dtls:hover a.exam-titl strong{color:#353535;}
.exam-card-dtls:hover .exam-date small{color:#444}
.exam-card-dtls:hover .exam-date span{color:#444}
.view-more-examdtls{padding:15px 19px;color:#585858 !important;font-size:10px;font-weight:400;display:block;text-decoration:none !important}
.exam-card-dtls:hover .view-more-examdtls{color:#000;text-decoration:none !important}
.vline{float:left;vertical-align:-webkit-baseline-middle;line-height:33px;font-size:23px;color:#ededed}
.rank-othr-sec{width:100%; float:left; margin-top:10px;}