.exam-wrapper{background:#f7f5fa;  font-size:12px; color:#666666}
.exam-name{background:#3f3939; color:#f6f6f6; text-transform:uppercase; font-size:18px; padding:8px 10px 8px 40px; font-weight:normal}
.exam-name span{color:#f9d100; font-size:12px;  text-transform:none}
.exam-details-wrap{width:100%; margin-top:15px;}
.exam-left-col, .exam-right-col{background:#fff; width:185px; border-right:1px solid #edebef; float:left}
.exam-left-col{border-top:1px solid #edebef;border-bottom:1px solid #edebef;}
.exam-mid-col{width:505px; margin:0 15px 0 200px; float:none;}
.exam-right-col{width:250px; border:0 none; background:none}
.exam-left-col ul li{border-bottom:1px solid #f4f4f4;}
.exam-left-col ul li.last{border-bottom:0 none;}
.exam-left-col ul li h2{font-weight:normal; font-size:12px;}
.exam-left-col ul li a{padding:10px; display:block; color:#707070}
.exam-left-col ul li a.active{background:#f7f5fa; color:#707070}
.content-tupple{background:#fff; padding:25px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-bottom:10px;word-wrap: break-word;}
.content-tupple p{line-height:19px}
.content-tupple h1, .tupple-title{font-size:16px; font-weight:bold; color:#000333; margin-bottom:8px; display:block}
.clearfix:after {visibility: hidden; display: block; content: " ";  clear: both; height: 0;}
.clearfix {display: inline-block;}
.clearfix {display: block;}
.calender-blocks{margin-top:20px; position:relative}
.badge{background:#f10816; color:#fff; font-size:10px; text-transform:uppercase; border-radius:3px; padding:0 3px; position:absolute; right:0px; top:-15px}
.calender-blocks ul li{float:left; width:93px; height:115px; background:#96a3aa; border-radius:4px; padding:5px; cursor:pointer; margin:0 10px 20px 0; position: relative;}
.calender-blocks ul li.exp-date{background:#cad1d4}
.calender-blocks ul li .date{background:#fff; padding:14px 2px; border-radius:4px; color:#96a3aa;}
.calender-blocks ul li.exp-date .date{color:#cad1d4}
.calender-blocks ul li big{font-size:40px;float:left; line-height:25px}
.calender-blocks ul li small{font-size:26px; font-size:14px; font-weight:bold; float:left; line-height:12px; margin:5px 0 0 5px}
.calender-blocks ul li small span{font-size:10px;}
.calender-blocks ul li .info{font-size:11px; color:#fff; line-height:14px; margin:4px 0 0 8px}
.calender-blocks ul li .info strong{display:block; font-weight:normal; line-height:12px; margin-bottom:4px; font-size:11px;max-height:38px;overflow:hidden;word-wrap: break-word;}
.exam-sprite{background:url(../images/exam-sprite.png) no-repeat; display:inline-block; position:relative;}
.abt-icn, .syllabus-icn, .imp-date-icn, .result-icn, .prep-tips-icn, .news-article-icn, .college-icn, .discussion-icn{background-position:0 0; width:21px; height:22px; float:left; top:-2px;}
.syllabus-icn{background-position:-26px 0;}
.imp-date-icn{background-position:-51px 0;}
.result-icn{background-position:-77px 0;}
.prep-tips-icn{background-position:-100px 0;}
.news-article-icn{background-position:-122px 0;}
.college-icn{background-position:-147px 0;}
.discussion-icn{background-position:-276px 0; width:22px;}
.dwn-arrw{background-position:-184px 0; width:11px; height:6px; float:right; position:relative; top:6px; right:10px;}
ul.exam-sub-list{margin:0 0 10px 30px; border:0 none;}
ul.exam-sub-list li{background:#fff; border:0 none; margin-bottom:2px;}
ul.exam-sub-list li a{padding:4px; text-decoration:none; color:#8f8f8f; outline:none;}
ul.exam-sub-list li a span{margin-left:10px;}
ul.exam-sub-list li a .exam-pointer{background-position:-173px 0px; width:7px; height:7px;float:left;top:6px; visibility:hidden}
ul.exam-sub-list li a.active{background:#fff; color:#8f8f8f;}
ul.exam-sub-list li a.active .exam-pointer{visibility:visible;}
.exam-left-col ul li a span{margin-left:10px;}
.update-widget{padding:0;}
.update-head{background:#eea234; color:#fff !important;padding:6px 30px; font-size:20px; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;position:relative; font-weight:normal;}
.update-form{padding:20px 33px; background:#fff; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px;}
.update-form ul{width:100%;}
.update-form ul li{margin-bottom:10px;}
.form-field{ border:1px solid #ccc; padding:6px 8px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
.user-icon{background-position:-221px 0; width:14px; height:14px; margin-right:2px; top:2px;}
.update-field{border:0 none; outline:none; width:93%; color:#000;}
.mail-icon{background-position:-238px 0; width:15px; height:11px; margin-right:2px; top:2px;}
.phone-icon{background-position:-258px 0; width:12px; height:11px; margin-right:2px; top:2px;}
.update-twoColumn{width:42%;}
.getUpdate-img{background-position:0px -25px; width:283px; height:112px; position:absolute; top:-55px; right:0;}
.similarExam-head{background:#80bae4;}
ul.exam-list{width:100%;}
ul.exam-list li{-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; margin-right:42px; width:26%; background:#dfeef8; color:#6ea7d0; float:left; margin-bottom:0;}
ul.exam-list li.last{margin-right:0;}
.exam-col{padding:6px;}
.exam-col-img{padding:15px 10px; background:#fff; text-align:center;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.viewedExam-img{background-position:0 -141px; width:54px; height:54px;}
.exam-title{font-size:20px; padding:10px; text-align:center;}
.exam-grid-box{color:#fff;}
.exam-grid-1, .exam-grid-2, .exam-grid-3{width:330px; float:left; position:relative;cursor:pointer;}
.exam-grid-2{width:328px}
.exam-grid-1 strong, .exam-grid-2 strong, .exam-grid-3 strong{font-size:18px; display:block; margin-bottom:10px; text-transform:uppercase; font-weight:normal; color:#fff;}
a.grid-rows-1, a.grid-rows-2, a.grid-rows-3, a.grid-rows-4, a.grid-rows-5, a.grid-rows-6, a.grid-rows-7, a.grid-rows-8, a.grid-rows-9{height:125px;padding:20px 25px; position:relative; display:block;}
a.grid-rows-1 p, a.grid-rows-2 p, a.grid-rows-3 p, a.grid-rows-4 p, a.grid-rows-5 p, a.grid-rows-6 p, a.grid-rows-7 p, a.grid-rows-8 p, a.grid-rows-9 p{color:#fff !important; text-decoration:none !important;word-wrap:break-word;width:221px;}
a.grid-rows-1{background:#1fa29d;}
a.grid-rows-2{ background:#47bdbd;}
a.grid-rows-3{background:#69d0d9;}
a.grid-rows-4{background:#ded280;}
a.grid-rows-5{background:#c6b800;}
a.grid-rows-6{background:#b1a721;}
a.grid-rows-7{background:#c3626b;}
a.grid-rows-8{background:#aa5960;}
a.grid-rows-9{background:#e1918a;}
.exam-grid-1, a.grid-rows-1, a.grid-rows-2,a.exam-grid-2, a.exam-grid-3, a.grid-rows-3, a.grid-rows-4, a.grid-rows-5, a.grid-rows-6,a.grid-rows-7,  a.grid-rows-8, a.grid-rows-9{-webkit-transition: background-color 0.5s ease-out;-moz-transition: background-color 0.5s ease-out; -o-transition: background-color 0.5s ease-out; transition: background-color 0.5s ease-out; cursor:pointer;}
a.grid-rows-1:hover{background-color:#338485; text-decoration:none !important}
a.grid-rows-2:hover{background-color:#17716f; text-decoration:none !important}
a.grid-rows-3:hover{background-color:#4a9197; text-decoration:none !important}
a.grid-rows-4:hover{background-color:#9c935a; text-decoration:none !important}
a.grid-rows-5:hover{background-color:#898000; text-decoration:none !important}
a.grid-rows-6:hover{background-color:#7b7517; text-decoration:none !important}
a.grid-rows-7:hover{background-color:#763d43; text-decoration:none !important}
a.grid-rows-8:hover{background-color:#9c6560; text-decoration:none !important}
a.grid-rows-9:hover{background-color:#894449; text-decoration:none !important}
a.grid-merged{height:290px !important;}
a.grid-merged p{width: 280px !important;word-wrap:break-word;}
.abt-icon-large, .syllabus-icon-large, .prep-tip-large, .newsArticle-icon-large, .date-icon-large, .discussion-icon-large, .collge-icon-large, .result-icon-large{background-position:-68px -141px; width:60px; height:56px; position:absolute; bottom:18px; right:20px;}
.syllabus-icon-large{background-position:-142px -141px; width:58px;}
.prep-tip-large{background-position:-213px -141px; width:45px;}
.newsArticle-icon-large{background-position:-273px -141px; width:44px;}
.date-icon-large{background-position:-426px -141px; width:54px;}
.discussion-icon-large{background-position:-295px -25px; width:57px;}
.collge-icon-large{background-position:-355px -25px; width:60px;}
.result-icon-large{background-position:-420px -25px; width:48px;}
/*Exam Page Animation STARTS*/
.exam-grid-1, .grid-rows-1, .grid-rows-2, .exam-grid-3{-webkit-transition: background-color 0.5s ease-out;-moz-transition: background-color 0.5s ease-out; -o-transition: background-color 0.5s ease-out; transition: background-color 0.5s ease-out; cursor:pointer;overflow: hidden;}
.exam-grid-1:hover{background-color:#62828d; text-decoration: none;}
.grid-rows-1:hover{background-color:#8c6c4f; text-decoration: none;}
.grid-rows-2:hover{background-color:#888c4f; text-decoration: none;}
.exam-grid-3:hover{background-color:#9b93a0; text-decoration: none;}
/*Exam Page Animation ENDS*/
.dynamic-content{word-wrap:break-word;}
.dynamic-content ul, .dynamic-content ol{margin-left:15px;}
.dynamic-content ul li, .dynamic-content ol li{list-style : disc; line-height: 19px; margin-bottom: 5px;}
.dynamic-content ol li{list-style : decimal;}
.dynamic-content table{border-collapse: collapse; border-color:#ccc;float: none!important;}
.dynamic-content table tr td{border-color:#ccc;}
.dynamic-content img{margin:10px !important;}

/*Article CSS*/
.news-badge{color:#fff; background:#f10816; padding:1px 3px; font-size:11px}
ul.news-list{color:#505050; margin:10px 0 20px;}
ul.news-list li{margin-bottom:10px; border-bottom:1px solid #c2c2c2; padding-bottom:10px;}
ul.news-list li label a{font-size:18px;color:#000;margin-bottom:3px; display:block; line-height:20px;text-decoration:none;}
ul.news-list li span{color:#8f8f8f; font-size:12px; display:block; margin-bottom:3px;}
ul.article-list{margin:10px 0;}
ul.article-list li{margin-bottom:20px;}
.article-img{width:214px;height:134px;}
.article-detail{border:1px solid #e7e9e7; padding:20px 10px 10px; width:192px; border-bottom-width:3px; height: 170px;}
.article-detail span{margin-bottom:8px; display:block;color:#8F8F8F;}
.article-title{font-size:18px; color:#000 !important; margin-bottom:5px; height: 40px; overflow: hidden;text-decoration: none !important;}
.show-more{background:#efefef; padding:10px; border-radius:2px; text-align:center; font-size:12px; color:#808080 !important; text-decoration:none !important; display:block; width:95%; clear: both;}
.show-more:hover{cursor: pointer;}
.show-more a{font-size:12px; color:#808080 !important; text-decoration:none !important; display: block;}
.article-summary{max-height: 78px; overflow: hidden;}
/*Discussion CSS*/
/*ul.discussion-list{margin:10px 0;}
ul.discussion-list li{width:100%; float:left; margin-bottom:35px;}
ul.discussion-list li dl dt{margin-bottom:15px;}
ul.discussion-list li dl dd{margin-left:0;}
.thread-icon{background-position:-345px -141px; width:43px; height:43px; float:left;}
.thread-info{margin-left:55px;}
.thread-title{font-size:14px; margin-bottom:3px; display:inline-block}
.thread-info span{color:#c3c3c3; font-size:11px; display:block;}
.comment-link{margin:0 0 5px 55px; display:inline-block;}
.user-thumb{background-position:-391px -141px; width:25px; height:25px; float:left; margin-left:15px;}
.last-comment-sec img{width:25px; height:25px;float:left; margin-left:15px; display: inline-block; border: 1px solid #eee;}
.last-comment-info{margin-left:55px; color:#000;}
.last-comment-info span{font-size:11px;color:#ccc;}
.comment-field{background:#fff; padding:4px; width:100%; border:1px solid #f2f2f2; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; margin-top:10px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box}
.comment-txt-field{margin-right:80px}
.comment-txt-field input{border:0 none; outline:none; width:100%; color:#b2b2b2; position:relative; top:1px}
a.comment-btn{text-decoration:none; color:#7b7b7b; background:#efefef; padding:3px 5px; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; float:right; width:60px}
*/

/*=========Discussion Style============*/
ul.discussion-list{margin:10px 0;}
ul.discussion-list li{width:100%; float:left; margin-bottom:15px;}
ul.discussion-list li.last{margin-bottom: 0;}
ul.discussion-list li dl dt{margin-bottom:15px;}
ul.discussion-list li dl dd{margin-left:0;}
.thread-icon{background-position:-345px -141px; width:43px; height:43px; float:left;}
.thread-info{margin-left:55px;}
.thread-title{font-size:14px; margin-bottom:3px; display:inline-block}
.thread-info span{color:#c3c3c3; font-size:11px; display:block;}
.comment-link{margin:0 0 5px 55px; display:inline-block;}
.user-thumb{background-position:-391px -141px; width:25px; height:25px; float:left; margin-left:15px;}
.last-comment-sec img{width:25px; height:25px;float:left; margin-left:15px; display: inline-block; border: 1px solid #eee;}
.last-comment-info{margin-left:55px; color:#000;}
.last-comment-info span{font-size:11px;color:#ccc;}
.comment-field{background:#fff; padding:4px; width:100%; border:1px solid #f2f2f2; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; margin-top:10px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box}
.comment-txt-field{margin-right:80px}
.comment-txt-field input{border:0 none; outline:none; width:100%; color:#b2b2b2; position:relative; top:1px}
a.comment-btn{text-decoration:none; color:#7b7b7b; background:#efefef; padding:3px 5px; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; float:right; width:60px}
.submit-btn{text-decoration:none; color:#7b7b7b; background:#efefef; padding:3px 5px; -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:0 none;float:right; width:73px}

h2.exm-sub-hd {color: #000; font-size: 16px;}
ul.prep-tip-list li{border-bottom:1px solid #f4f4f4; margin-bottom:15px; padding-bottom:15px; color:#505050; line-height:20px;}
ul.prep-tip-list li.last{border:0;}
ul.prep-tip-list li img{width:87px; vertical-align:bottom; margin-right:5px;}
.result-tabs{margin:3px 0;}
.result-info-title{display:inline-block;}
.result-info-title strong{font-size:18px; font-weight:normal; color:#4b4b4b;}
.result-info-title span{color:#aeaeae;font-size:12px;}
.exam-result-sprite{background:url(../images/exam-result-sprite.jpg) no-repeat; display:inline-block; position:relative;}
.result-declare-icn, .result-analysis-icn, .toppers-intrvew-icn, .stu-reaction-icn{background-position:0 0; width:67px; height:41px; vertical-align:bottom; margin-right:5px;}
.result-analysis-icn{background-position:-71px 0px;}
.toppers-intrvew-icn{background-position:0 -44px;}
.stu-reaction-icn{background-position:-71px -44px;}

.ExamResult-info{margin:15px 0 0;}
.exam-result-title{font-size:16px; margin-bottom:10px;}
.exam-date{background:#c3c6c8; border:1px solid #898b8b; padding:3px; color:#fff; text-align:center; line-height:20px; float:right;font-size:12px;}
.font-14{font-size:14px;}
ul.result-declare-list li{border-bottom:2px solid #e3e1e5; margin-bottom:15px; padding-bottom:15px;}
ul.result-declare-list li.last{border:0;}
ul.explore-list, ul.rep-member-list{margin:8px 0;}
ul.explore-list li, ul.rep-member-list li{font-size:12px; margin-bottom:5px; border-bottom:0 none; padding:0;}
ul.rep-member-list li{margin-bottom:13px;}
.topper-seperator{border-bottom:1px dashed #ccc; padding-bottom: 15px;}

.popular-article-head{background:#eeeeee; color:#000333; font-size:12px; padding:12px;}
.popular-article-head span{color:#999; font-size:9px;}
.popular-article-detail{padding:12px; color:#999; float:left;}
.popular-article-icon{background-position:-327px -87px; width:21px; height:24px;margin-right:5px; vertical-align:middle}
.popular-article-detail ul{width:100%; float:left;}
.popular-article-detail ul li{margin-bottom:8px; padding-bottom:5px; border-bottom:1px solid #eee; float:left; width:100%;}
.popular-article-detail ul li a{display:block; font-size:12px; margin-bottom:5px;}
.popular-article-detail ul li.last{border:0; padding-bottom:0;margin-bottom:0;}
.article-comment-icon{background-position:-355px -87px; width:17px; height:14px; margin-right:4px; vertical-align:middle}


/* Background */
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
}


/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow {
	height: 100%;
	width: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsDefault.rsVer .rsArrow {
	width: 100%;
	height: 44px;

}
.rsDefault.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefault.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefault.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefault .rsArrowIcn {
	width: 32px;
	height: 32px;
	top: 44%;
	position: absolute;
	cursor: pointer;
	background: url('/public/images/abroad-sprite.gif');
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
	border-radius: 2px;
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn { background-position: -99px 0; left:0;}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn { background-position: -133px 0; right:0}


.rsDefault .rsArrowDisabled .rsArrowIcn { background-color: rgba(0,0,0,0.4); opacity: .4; *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsDefault .rsBullets {
	position: absolute;
	z-index: 35;
	right: 6px;
	bottom: -17px;
	overflow: hidden;
}

.rsDefault .rsBullet, .rsDefault .rsBullet.rsNavSelected {
	cursor: pointer;
    height: 11px;
    overflow: hidden;
    width: 11px;
	background-image: url("/public/images/course-sprite.png");
	background-position: -13px 0;
	background-repeat:no-repeat;
    display: inline-block;
	margin-left:4px
}
.rsDefault .rsBullet.rsNavSelected  {
	background-position: 0 0;
}





/***************
*
*  3. Thumbnails
*
****************/

.rsDefault .rsThumbsHor {
	width: 100%;
	height: 44px;
        margin-top: 20px;
}
.rsDefault .rsThumbsVer {
	padding-right: 4px;
	width: 96px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsDefault .rsThumb {
	float: left;
	overflow: hidden;
	width: 63px;
	height: 44px;
}
.rsDefault .rsThumb img {
	width: 100%;
	height: 100%;
	border:1px solid #969696;
}
.rsDefault .rsThumb.rsNavSelected {
	background: #02874a;
}
.rsDefault .rsThumb.rsNavSelected img {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.rsDefault .rsTmb {
	display: block;
}

/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
	height: 100%;
	width: 22px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;

}

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;
}
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefault .rsThumbsArrowIcn {
	width: 22px;
	height: 27px;
	top: 9px;
	left: 0;
	position: absolute;
	cursor: pointer;
	background: url('/public/images/abroad-sprite.gif');
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: 0 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -25px 0; }



.rsDefault .rsThumbsArrowDisabled { display: none !important; }

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
	.rsDefault .rsThumb {
		width: 59px;
		height: 44px;
	}
	.rsDefault .rsThumbsHor {
		height: 44px;
	}
	.rsDefault .rsThumbsVer {
		width: 59px;
	}
}




/***************
*
*  4. Tabs
*
****************/

.rsDefault .rsTabs {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align:center;
	overflow: hidden; padding-top: 12px; position: relative;
}
.rsDefault .rsTab {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: auto;
	width: auto;
	color: #000;
	padding: 5px 13px 6px;
	min-width: 72px;
	border: 1px solid #D9D9DD;
	border-right: 1px solid #f5f5f5;
	text-decoration: none;

	background-color: #FFF;
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:    -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image:         linear-gradient(to bottom, #fefefe, #f4f4f4);

	-webkit-box-shadow: inset 1px 0 0 #fff;
	box-shadow: inset 1px 0 0 #fff;

	*display:inline;
	*zoom:1;
}
.rsDefault .rsTab:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.rsDefault .rsTab:last-child {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;

	border-right:  1px solid #cfcfcf;
}
.rsDefault .rsTab:active {
	border: 1px solid #D9D9DD;
	background-color: #f4f4f4;
	    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.rsDefault .rsTab.rsNavSelected {
		color: white;
	border: 1px solid #999;
	text-shadow: 1px 1px #838383;
	-webkit-box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
	box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
	background: #ACACAC;
	background-image: -webkit-linear-gradient(top, #ACACAC, #BBB);
	background-image: -moz-llinear-gradient(top, #ACACAC, #BBB);
	background-image: linear-gradient(to bottom, #ACACAC, #BBB);
}





/***************
*
*  5. Fullscreen button
*
****************/

.rsDefault .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;

}
.rsDefault .rsFullscreenIcn {
	display: block;
	margin: 6px;
	width: 32px;
	height: 32px;

	background: url('/public/images/rs-default.png') 0 0;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
	border-radius: 2px;

}
.rsDefault .rsFullscreenIcn:hover {
	background-color: rgba(0,0,0,0.9);
}
.rsDefault.rsFullscreen .rsFullscreenIcn {
	background-position: -32px 0;
}





/***************
*
*  6. Play/close video button
*
****************/

.rsDefault .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ac000000', endColorstr='#ac000000');
}
.rsDefault .rsPlayBtnIcon {
	width:64px;
	display:block;
	height:64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background:url(/public/images/rs-default.png) no-repeat 0 -32px;

	background-color: rgba(0,0,0,0.75);

	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	*background-color: #000;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
	background-color: rgba(0,0,0,0.9);
}
.rsDefault .rsBtnCenterer {
	position:absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
}
.rsDefault .rsCloseVideoBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 500;
	position: absolute;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);

}
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
	top: -38px;
	right: -6px;
	/*top: -6px;
	right: -38px;*/
}

.rsDefault .rsCloseVideoIcn {
	margin: 6px;
	width: 32px;
	height: 32px;
	background: url('/public/images/rs-default.png') -64px 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
}
.rsDefault .rsCloseVideoIcn:hover {
	background-color: rgba(0,0,0,0.9);
}



/***************
*
*  7. Preloader
*
****************/

.rsDefault .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(/public/images/preloader-white.gif);

	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;
}
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	width:505px;
	height:253px;
	background: #D7D7D7;
	position: relative;
	direction: ltr;
	padding: 5px 0px;
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 280px !important;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsContainer {
	position: relative;
	height: 280px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {

}
.rsGCaption .flLt{}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	height: 280px;
	width: 100%;
	text-align:left; overflow:hidden;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
	text-align:center;
}

.rsPreloader {
	position:absolute;
	z-index: 0;
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 25;
	-webkit-backface-visibility: hidden;
}

.grab-cursor {
	/*cursor:url(grab.png) 8 8, move; */
}

.grabbing-cursor{
	/*cursor:url(grabbing.png) 8 8, move;*/
}

.rsNoDrag {
	cursor: auto;
}

/* Start news and article tab  */
.expg-widget{ padding:25px 0 10px;  position:relative;}
.expg-tab{border-bottom:#d7d7d7 solid 1px;padding:4px 0 8px;margin-bottom:12px; }
.expg-tab a{font:500 18px/20px 'Open Sans',sans-serif;color:#666666;padding:10px 27px 7px;}
.expg-tab .active{ font-weight:700;color:#000333;border-bottom:#f7a24f solid 2px;}
.expg-tab a:hover{text-decoration:none;}
ul.expg-nw-slid{ background:#d7d7d7;}
.expg-nw-slid li{padding:11px 3px;overflow:hidden;}
.expg-slid-tap{background:#fff;width:240px;text-align:center;display:inline-block;margin:0 0px 0 8px;-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.45);-moz-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.45);box-shadow:1px 1px 1px 0px rgba(0,0,0,0.45); height:251px; position:relative;float: left;overflow: hidden;}
.expg-slid-box{padding:10px;}
.expg-slid-hd{color:#006699;line-height:18px !important;font-size:18px;margin:4px 0 2px;height: 36px; overflow:hidden;}
.expg-slid-hd a{color:#006699;}
.expg-slid-hd a:hover{ text-decoration: none;}
.expg-slid-dt{color:#999999;font-size:11px;margin-bottom:4px;}
.expg-slid-info{color:#666666;font-size:13px;padding:0 10px; line-height:14px !important;height: 96px; overflow:hidden;}
.expg-slid-comm{position:absolute;margin:auto;width:100%;bottom:13px;}

.expg-comm-icon{background-position:-301px -1px;width:12px;height:12px;margin:0px 5px;vertical-align:middle;}
.expg-left-pos{position:absolute; height:120px;z-index:1; top:147px;left:0;background-color:rgba(255,255,255,0.65);}
.expg-right-pos{position:absolute;height:120px;z-index:1; top:147px;right:0;background-color:rgba(255,255,255,0.65);}
.expg-left-pos-dec{background-color:rgba(255,255,255,0.25) !important;}
.expg-right-pos-dec{background-color:rgba(255,255,255,0.25) !important;}
.expg-lt-icon{background-position:-339px -1px;width:10px;height:18px;cursor:pointer;margin:50px 0 0 9px;}
.expg-lt-icon-dec{background-position:-315px -1px;width:10px;height:18px;cursor:default;margin:50px 0 0 9px;pointer-events:none;}
.expg-rt-icon{background-position:-351px -1px;width:10px;height:18px;cursor:pointer;margin:50px 9px 0 0;}
.expg-rt-icon-dec{background-position:-327px -1px;width:10px;height:18px;cursor:default;margin:50px 9px 0 0;pointer-events:none;}
.expg-carausel{display:block; margin:auto; text-align:center;height:20px;}
ul.expg-car-buts{ margin:10px auto 3px;}
.expg-car-buts li{margin:0; padding:0;list-style:none;display:inline;height:12px;width:12px;}
.expg-car-buts li a{height:12px;width:12px; background:#d7d7d7;display:inline-block;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.expg-car-buts li a:hover{text-decoration:none;}
.expg-car-buts .active{background:#ff9933; cursor:default;pointer-events:none;}
/* End news and article tab  */

.top-collegeLeft-nav{margin-left:32px !important;display:block;}
.updates-p{
   padding: 0 30px 14px;
    line-height: 24px;
}
.updates-p > .tupple-title{
    padding: 0px 10px 0 0px;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    display: inline-block;
		margin-bottom: 10px;
}
.orange-button.pad2 {
    padding: 0 15px;
}
.disabled{pointer-events:none;}
