#resultPg1 UL LI A{font-family:verdana;font-size:10px;text-decoration:none}
#resultPg1 UL LI SPAN.txtSize_12{font-family:Arial, Helvetica, sans-serif;font-size:13px}
#resultPg1 UL LI{float:left;margin-right:2px;padding:2px 5px 2px 0}
.fontSize_20p{font-size:20px}
#resultPg1 UL LI A SPAN,#resultPg_inn UL LI A SPAN{border:1px #E6E6E6 solid;cursor:pointer;padding:2px 5px}
#resultPg1 UL LI A SPAN.active,#resultPg_inn UL LI A SPAN.active{border:1px #FD8103 solid;color:#000;cursor:pointer;font-weight:700;padding:2px 5px}
#resultPg1 UL LI A:hover SPAN,#resultPg_inn UL LI A:hover SPAN{border:1px #FD8103 solid;cursor:pointer;padding:2px 5px}
#resultPg1 UL LI A:hover SPAN.preDeactive,#resultPg_inn UL LI A:hover SPAN.preDeactive{border:1px #E6E6E6 solid;color:#E6E6E6;cursor:pointer;padding:2px 5px}
#resultPg1 UL LI A:hover,#resultPg_inn UL LI A:hover,.redcolor{color:red}
#resultPg1,#resultPg_inn{display:inline;float:left;width:100%}
.bgEnt{background:url(/public/images/bgEnt.gif) repeat-x left bottom}
.dtEnt{background:url(/public/images/dtEnt.gif) no-repeat left top;width:97px;height:35px}
.dtbox{float:left;font-weight:700;text-align:center;width:39px;padding-top:4px}
.dtml19{margin-left:19px}
.dt_btnScrib{border:0 none;width:146px;height:29px;background:url(/public/images/dt_btnScrib.gif) no-repeat;cursor:pointer;font-size:11px;font-weight:700;font-family:Tahoma, Arial}
.dtPt5{padding-top:5px}
.dtPb7{padding-bottom:7px}
.bgOthEnt{background:url(/public/images/bkgrnd.png) repeat-x left -1px;height:40px;padding:3px 10px 0 10px;font-size:15px;font-weight:700}
.sdtBg{background:url(/public/images/sdtBg.gif) no-repeat left top;height:35px;width:39px;font-weight:700;padding-top:4px;text-align:center}
.bgTab{background:url(/public/images/bgTab.jpg) repeat-x left top;height:40px}
.impDt .active{float:left;padding:0 7px;height:29px;line-height:29px;background:#fff;border:1px solid #d6dfe8;border-bottom:none;color:#000 !important;font-weight:700;margin-right:3px;text-decoration:none}
.impDt .unactive{float:left;padding:0 7px; height:29px;line-height:29px;background:none;border:none;color:#0065DE;font-weight:400;margin-right:3px}
.btn_scrib{background:#e0e0e0 url(/public/images/btn_scrib.png) no-repeat;width:69px;height:21px;cursor:pointer;border:0 none;font-size:12px;font-family:Arial, Helvetica, sans-serif}
.impDts{margin:0;padding:0;list-style:none}
.impDts li{width:100%;padding:0 0 10px 0}
.impDts li .rw1{float:left;width:39px}
.impDts li .rw2{margin-left:50px;line-height:16px}
.sdtBg{background:url(/public/images/sdtBg.gif) no-repeat left top;height:35px;width:39px;font-weight:700;padding-top:4px;text-align:center}
.drkGry{color:#5d5d5d}
.w43{width:43px}
.w85{width:85px}
.pt8{padding:8px 0 0}
.pl36{padding-left:36px}
.pb15{padding-bottom:15px}
.bgImpDt{background:url(/public/images/bgImpDt.gif) no-repeat left top;width:265px; height:45px}
.bkIcon{background:url(/public/images/bkIcon.png) no-repeat left 13px;padding:13px 10px 12px 40px;margin-left:10px}
.comntA{padding:2px 0 3px 28px;float:left;margin-top:3px}
.comnt{background:url(/public/images/shikIcons.png) no-repeat left -656px}
.subsBtn{background:url(/public/images/sbeBtn.gif) no-repeat left 0;width:80px;height:20px;border:0 none;cursor:pointer}
.entSptBG{background:url(/public/images/entSptBG.gif) repeat-x left bottom}
.vDLink{background:#eee;float:left;height:20px;line-height:20px;padding:0 5px;margin-right:10px}
.vDLink_2{background:#fff;height:20px;line-height:20px;font-weight:700}
.ml10{margin-left:10px}
.btmArw{background:url(/public/images/shikIcons.png) no-repeat right -446px;padding-right:15px;text-decoration:none;font-size:12px; padding-bottom:2px !important}
.bgDate{background:url(/public/images/bgDate.gif) repeat-x left bottom;height:34px;padding:0 10px; line-height:34px}
.dtBox{height:17px;width:80px;font-size:12;font-family:Arial, Helvetica, sans-serif;color:#999}
.bdrBlu{background:#e5eef4;height:2px;line-height:2px;overflow:hidden;font-size:1px}
.adEnt{background:url(/public/images/s_img4.png) no-repeat -84px -206px;width:88px;height:22px;border:0 none;cursor:pointer}
.mlr2010{margin:0 10px 0 20px}
.ml95{margin-left:95px}
.homeShik_textBoxBorder{background:#FFF;border:1px solid #cecbce;border-top:1px solid #636563;height:27px;overflow:hidden}
.homeShik_searchtextBox{border:0;font-size:14px;padding:4px;width:90%}
.homeShik_SearchBtn,.homeShik_SubmitBtn{background:#FE8001 url(/public/images/hpBtn.png) no-repeat;background-position:left -50px;border:0 none;color:#FFF;cursor:pointer;font-family:arial;font-size:18px;font-weight:700;height:29px;overflow:hidden;width:86px}
.dateSelected {font-family: Verdana, Arial,Georgia;}
.inline {display:inline;}
.inline-l {float:left;display:inline;}
.Month {font-family: Verdana, Arial,Georgia;font-size: 18px;}
.Year {font-family: Verdana, Arial,Georgia;font-size: 18px;}
.calendarTable {background:#DCF0FB;width:100%;padding:0px 0px 10px 0px;}
.WeekRowHeader {font-family: Verdana, Arial,Georgia;font-size: 9px;color: #ffffff;height:17px;}
.WeekDayHeader {font-family: Verdana, Arial,Georgia;font-weight:bold;font-size:11px;width:13.8%;display:block;float:left;text-align:center;border : solid 1px #edf7f9;margin-left:-1px;margin-bottom:-2px;margin-top:-1px;height:17px;}
.WeekRow {font-family: Verdana, Arial,Georgia;font-size: 24px;text-align:center;}
.normalDay {text-align:right;font-weight: bold;}
.WeekDay {width:13.8%;display:block;float:left;border-left : solid 1px #edf7f9;border-right : solid 1px #edf7f9;border-bottom : solid 1px #edf7f9;margin-left:-1px;background:#ffffff;	text-align:right;color:#c3cbce;}
.WeekDay label{color:#0066DD;}
.WeekDayhover {background:#f8b168;color:#ffffff;}
.WeekDayhover label{background:#f8b168;	color:#ffffff;cursor:pointer;}
.WeekDayToday {background:#5F99BF;color:#ffffff;}
.WeekDayToday label{background:#5F99BF;color:#ffffff;}
.WeekDaySelected {background:#f98308;color:#ffffff;}
.WeekDaySelected label{background:#f98308;color:#ffffff;cursor:pointer;}
.dayEvents {font-family: Verdana, Arial,Georgia;font-size: 9px;/*color:#0078e3;*/color:#ffffff;text-align:left;padding:0px 0px 0px 0px;background: transparent;}
.dayEvents a{font-family: Verdana, Arial,Georgia;font-size: 9px;/*color:#0078e3;*/color:#ffffff;text-decoration:none;text-align:left;}
.eventsListOverlay {display: none;z-index: 100005;position: absolute;padding: 10px;width:250px;}
.eventsList {background:#ffffff;padding:10px;}
.eventsList ul {color:#f98308;	font-family: Verdana, Arial,Georgia;font-size: 14px;text-decoration:none;text-align:left;margin:0px;padding:0px;}
.eventsList ul li {font-family: Verdana, Arial,Georgia;font-size: 12px;color:#0078e3;text-decoration:none;text-align:left;list-style-image:url('http://localhost:8008/public/images/eventArrow.gif');margin:5px 20px;;}
.eventsList ul li a{font-family: Verdana, Arial,Georgia;font-size: 12px;color:#0078e3;text-decoration:none;text-align:left;}
.eventTitle {color:#f98308;font-size: 20px;text-align:left;width:90%;}
.eventTab {background:#ffffff;}
.eventTab a {background:#eeeeee;}
.textboxEventW31 {border:solid 1px #7F9DB9;height:20px;width:31%;}
.bgAandAnsBtmLine{background:url(/public/images/bgAandAnsBtmLine.gif) repeat-x left top;height:58px;width:100%; float:left; margin-top:10px}
.bgAandAnsCorner{background:url(/public/images/bgAandAnsCorner.gif) repeat-x left top;height:58px; width:375px; float:left; line-height:25px}
/* Widget Area of Interest */
.wArea_brd{background:url(/public/images/wArea_brd.gif) repeat-y left top;width:265px}
.wArea_m{background:#fff url(/public/images/wArea_m.gif) repeat-x left bottom;margin:0 3px}
.wBook{background:url(/public/images/wBook.jpg) no-repeat right top; height:210px}
.btn_Go{background:url(/public/images/s_img4.png) no-repeat left -268px;border:0 none;cursor:pointer;width:47px;height:29px}
.raised_lgraynoBG .b2{background:#D6DBDF;border-left:1px solid #D6DBDF;border-right:1px solid #D6DBDF}
.raised_lgraynoBG .b1b{background:#D6DBDF;margin:0 5px}
.raised_lgraynoBG .b1{background:#FFF;margin:0 5px}
.raised_lgraynoBG .boxcontent_lgraynoBG{background-color:#FFF;background-position:bottom;background-repeat:repeat-x;border-left:1px solid #D6DBDF;border-right:1px solid #D6DBDF;display:block}
.raised_lgraynoBG .boxcontent_lbluenoBG{background-color:#FFF;background-position:bottom;background-repeat:repeat-x;border-left:1px solid #DAE8FA;border-right:1px solid #DAE8FA;display:block}
.raised_lgraynoBG .boxcontent_lbluenoBG1{background-color:#F8FBFF;background-position:bottom;background-repeat:repeat-x;border-left:1px solid #DAE8FA;border-right:1px solid #DAE8FA;display:block}
.raised_greenGradient_ww .b2{background:#dadada;border-left:1px solid #dadada;border-right:1px solid #dadada}
.raised_greenGradient_ww .b1b{background:#dadada;margin:0 5px}
.raised_greenGradient_ww .b1{background:#fff;margin:0 5px}
.raised_greenGradient_ww .boxcontent_greenGradient_ww{background:#FFF;border-left:1px solid #dadada;border-right:1px solid #dadada;display:block}
.raised_lgraynoBG,.raised_greenGradient_ww{background:transparent}
.raised_lgraynoBG .b1,.raised_lgraynoBG .b2,.raised_lgraynoBG .b3,.raised_lgraynoBG .b4,.raised_lgraynoBG .b1b,.raised_lgraynoBG .b2b,.raised_lgraynoBG .b3b,.raised_lgraynoBG .b4b,.raised_greenGradient_ww .b1,.raised_greenGradient_ww .b2,.raised_greenGradient_ww .b3,.raised_greenGradient_ww .b4,.raised_greenGradient_ww .b1b,.raised_greenGradient_ww .b2b,.raised_greenGradient_ww .b3b,.raised_greenGradient_ww .b4b{display:block;font-size:1px;overflow:hidden}
.raised_lgraynoBG .b1,.raised_lgraynoBG .b2,.raised_lgraynoBG .b3,.raised_lgraynoBG .b1b,.raised_lgraynoBG .b2b,.raised_lgraynoBG .b3b,.raised_greenGradient_ww .b1,.raised_greenGradient_ww .b2,.raised_greenGradient_ww .b3,.raised_greenGradient_ww .b1b,.raised_greenGradient_ww .b2b,.raised_greenGradient_ww .b3b{height:1px}
.raised_lgraynoBG .b3,.raised_lgraynoBG .b4,.raised_lgraynoBG .b4b,.raised_lgraynoBG .b3b,.raised_lgraynoBG .b2b{background:#FFF;border-left:1px solid #D6DBDF;border-right:1px solid #D6DBDF}
.raised_lgraynoBG .b2,.raised_lgraynoBG .b2b,.raised_greenGradient_ww .b2,.raised_greenGradient_ww .b2b{border-width:0 2px;margin:0 3px}
.raised_lgraynoBG .b3,.raised_lgraynoBG .b3b,.raised_greenGradient_ww .b3,.raised_greenGradient_ww .b3b{margin:0 2px}
.raised_lgraynoBG .b4,.raised_lgraynoBG .b4b,.raised_greenGradient_ww .b4,.raised_greenGradient_ww .b4b{height:2px;margin:0 1px}
.raised_greenGradient_ww .b3,.raised_greenGradient_ww .b4,.raised_greenGradient_ww .b4b,.raised_greenGradient_ww .b3b,.raised_greenGradient_ww .b2b{background:#fff;border-left:1px solid #dadada;border-right:1px solid #dadada}
.bottomNavigationLink{float:left;width:100%}
.bottomNavigationLink ol,.bottomNavigationLink ol li{float:left;list-style:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
.plusIcons{background:url(/public/images/plusIcons.gif) no-repeat left top;font-weight:700;padding-left:18px}
.minIcons{background:url(/public/images/minIcons.gif) no-repeat left top;font-weight:700;padding-left:18px}
.subContainer .subContainerAnswer{background:#f7f7f7;border:1px solid #FFF;border-left:2px solid #f0ebef;padding:10px}
.dottedLineMsg{background:url(/public/images/dotted.gif) repeat-x left;font-size:1px;height:1px;line-height:1px}

.search-btn-col{width:90px; float:right}
.search-field-col{width:510px; float:left}
.loc-field-col{width:141px; float:left; padding-left:8px}
.search-radio-options{z-index:900; width:90%; float:left; clear:left; padding-top:4px}
.search-radio-options input{margin:0; padding:0}