#mmm-cont{border:1px solid #dddddd; padding:15px 20px; background:#fafafa; margin-top:20px;}
#mmm-cont h2{color:#FD8103; font:bold 17px Arial, Helvetica, sans-serif; margin-bottom:14px}
#mmm-cont h4{display:block; color:#000; font:normal 14px Arial, Helvetica, sans-serif; border-bottom:1px solid #e8e8e8; padding-bottom:2px; margin-bottom:12px}
ul.profile-form{clear:both}
ul.profile-form li{margin-bottom:14px; font:normal 13px Arial, Helvetica, sans-serif; width:100%; float:left}
ul.profile-form li label{width:200px; float:left; text-align:right; font-weight:bold; padding:1px 8px 0 0}
.width-200{width:200px}
.width-130{width:130px}
.course-box{padding:8px; border:1px solid #cccccc; height:128px; overflow:auto; width:300px; float:left; margin-top:5px; overflow-x:hidden}
.course-box ol{margin:0; padding:0}
.course-box ol li{margin-bottom:5px; width:100%; float:left; margin:0}
.filter-cont{border-bottom:1px solid #e8e8e8; margin-bottom:25px; padding-bottom:20px; padding-left:210px}
.button-aligner{padding-left:130px}
.sub-label{width:120px; text-align:right; display:inline-block}
.form-section{padding:0 0 15px 80px; clear:both}
.new-serset-btn{background:url(../images/new-usersetBtn.gif) 0 0 no-repeat; width:95px; height:24px; border:0 none; cursor:pointer}
.userset-tab{clear:both; border-bottom:1px solid #c3c3c3; float:left; width:100%}
.userset-tab ul li{float:left; margin-left:10px}
.userset-tab ul li a{display:block; padding:12px 15px; color:#000; background:#c3c3c3; font-size:14px; border-top:1px solid #c3c3c3; text-decoration:none !important}
.userset-tab ul li a.active{background:#fafafa; border:1px solid #c3c3c3; border-bottom:0 none; position:relative; top:1px}
.tab-details{padding:20px 5px; min-height:400px;}


.h-rule{height:1px; border-bottom:1px dashed #9a9a9a; margin:20px 0; width:40%; float:left; position:relative}
.opt-txt{text-align:center; position:absolute; top:-13px; width:46px; padding:4px; background:#fafafa; left:45%; font-size:14px;}
.more-opt-box{background: #F3F3F3; border: 1px solid #CCCCCC; color: #676767; font-size: 11px; padding: 1px 3px 3px; position: absolute; right: -68px; text-align: center; top: -9px; cursor:pointer; z-index:9;}
.opt-arr-d, .opt-arr-u{background-position:-56px -125px !important; width:10px; height:7px; margin-right:2px; cursor:pointer;}
.opt-arr-u{background-position:-66px -126px !important;}


.cms_examsLayer{width:900px;margin:0 auto;border:1px solid #ccc;background:#fff;position: relative;top: 50%;transform: translateY(-50%);}
.cms_examsLayer_head{align-items: center;display:flex;flex-direction:row;flex-wrap:wrap;position: relative;}
.cms_examsLayer_head p{font-size:16px;line-height:22px}
.cms_examsLayer_head div{margin-left:auto;position:relative}
.cms_examsLayer_head input[type='text']{margin-right: 30px;width: 190px;background:#f0f0f0;border:1px solid #ccc;padding:5px 15px;color:#000}
.cms_examsLayer_head{padding:10px;margin-bottom: 5px;}
.cms_examsLayer_head a {position: absolute;cursor:pointer;color: #000;right: -8px;top: -10px;font-size: 25px;width: 30px;text-align: center;}
.cms_examsLayer_head a:hover{text-decoration: none;}
.cms_examsLayer_list ul li{width:25%;box-sizing:border-box;display:inline-block;margin-bottom:5px;vertical-align:top;padding:5px 9px}
.cms_examsLayer_list ul li input[type='checkbox']{margin:0;position:relative;top:2px}
.cms_examsLayer_list{max-height:350px;overflow:auto}
.cms_examsLayer_list ul li label{margin-left: 5px;cursor: pointer}
.examList-btn{text-align: center;padding: 15px 0px}


.searchTags {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    margin: 5px 7px 5px 0;
    color: #111;
    display: inline-block;
    padding: 5px 24px 3px 8px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.closeTag {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.srpSprite.ics {
    width: 16px;
    font-size: 20px;
    height: 16px;
    line-height: 18px;
}

span.searchTags:hover {
    text-decoration: line-through
}
