.home-wrapper{font:normal 12px 'Open Sans',sans-serif}
.home-sprite{background:url('../images/abroad-home-sprite1.png') no-repeat;display:inline-block}
.rt-arr{background-position:-117px 0;width:11px;height:21px;vertical-align:middle;position:relative;float:right}
.article-icon{background-position:-30px 0;width:28px;height:21px;margin-right:10px;position:relative;top:4px}

.carausel-section{margin:30px 0 40px 0;}
.carausel-section .arrow-box{width:95px;float:left;height:360px;position:relative}
.carausel-content{width:798px;float:left}
.carausel-section h2{font-size:24px;color:var(--Charcoal-Black);font-weight:normal;margin-bottom:15px}
.carausel-details{border:1px solid #CCCCCC;border-right:0;float:left;padding:0px 13px;width:198px}
#slideContainer .carausel-details{padding:10px 13px !important;height:400px;}
.carausel-details.last{border-right:1px solid #CCCCCC !important;}
.article-tupple-title{font:normal 16px 'Open Sans',sans-serif;color:var(--Charcoal-Black);height:55px;overflow:hidden;word-wrap:break-word;line-height:20px;}
.university-thumb, .university-thumb img{width:172px;height:115px;margin:auto;text-align:center;}
/* to check */.logo-image2{background-position:0 -92px;width:162px;height:60px;}

.viewed-icon{background-position:0 0; width:24px; height:23px; margin-right:10px; position:relative; top:2px}
.prev-scroll, .next-scroll, .prev-scroll-active, .next-scroll-active{background-position:0 -25px; width:33px; height:63px; cursor:auto; display:block; position:absolute; top:204px; left:35%;}
.articledwnldbtn{margin:12px auto 0;text-align:left;}
.article-carausel .prev-scroll, .article-carausel .next-scroll, .article-carausel .prev-scroll-active, .article-carausel .next-scroll-active{top:170px !important}
.prev-scroll, .next-scroll, .prev-scroll:focus, .next-scroll:focus{outline:0 none}
.prev-scroll-active, .next-scroll-active{cursor:pointer}
.next-scroll{background-position:-106px -25px}
.prev-scroll-active{background-position:-71px -25px}
.next-scroll-active{background-position:-35px -25px}

ul.viewed-carausel li{width:172px; float:left; background:#efefef; margin-right:35px; height:370px;}
ul.viewed-carausel li.last{margin-right:0}
ol.carausel-bullets{width:37px; margin:20px auto}
.article-carausel ol.carausel-bullets{width:55px !important}
ol.carausel-bullets li{width:10px; height:10px; overflow:hidden; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; background:#c9c9c9; float:left; content:''; margin-right:8px; cursor:pointer}
ol.carausel-bullets li.active{background:#666666}
.viewed-tupple-title{background:var(--Grey-Ice); color:var(--Charcoal-Black); padding:8px; position:relative; font-size:12px; border:1px solid #d2d2d2; border-bottom:none;}
.viewed-tupple-title .pointer{background-position:-62px 0; width:11px; height:10px; position:absolute; left:20px; bottom:-9px}
.viewed-tupple-title h3{display:block; font:bold 14px 'Open Sans',sans-serif; margin-bottom:5px}
.viewed-tupple-title p{line-height:16px; height:35px; overflow:hidden; color:#999; font-size:11px;}
.viewed-course-box{border:1px solid #d2d2d2; border-top:0 none; padding:8px; color:var(--Dark-Slate);}
.viewed-child{height:175px; overflow:hidden}
.article-carausel-content{ height:126px;margin-top:12px; color:var(--Charcoal-Black); line-height:18px; font-size:13px; word-wrap: break-word;}
.added-txt{color:var(--Dark-Slate); margin:5px 0 8px 0; font-size:12px}
.viewed-course-details{margin-top:12px}
.viewed-course-details p strong{display:block; margin-bottom:2px; margin-top:2px;color: var(--Charcoal-Black)}
.viewed-course-details p{margin-bottom:12px;}
.uni-name a{font-size:12px; margin-bottom:3px; display:inline-block}
.knw-more{border:1px solid #cccccc; background:#f8f8f8; padding:3px 8px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; float:right; text-decoration:none !important}
.more-opt-box2{background: #F3F3F3; border: 1px solid #CCCCCC; color: #676767; font-size: 11px; padding: 1px 6px 3px; cursor:pointer; float:right}
.opt-arr-d,.opt-arr-u{background-position:-197px 0; width:8px; height:7px; margin-right:2px; cursor:pointer}
.opt-arr-u{background-position:-206px 0; top: -1px;}
.select-opt-layer{border:1px solid #ccc; padding:8px; background:#fff; position:absolute; top:30px; left:0; z-index:99}
.select-opt-layer .active{background:#c4e7ff}
.select-opt-layer ol li{float:left; width:100%}
.select-opt-layer p{color:#666666; margin:5px 0 15px 0; font-size:11px}
.country-details{width:255px; background:#fff; padding:12px 8px; display:table-cell; -moz-border-radius:0px 8px 8px 0px; -webkit-border-radius:0px 8px 8px 0px; border-radius:0px 8px 8px 0px; color:#777777; vertical-align:top}
.country-details ul li{list-style:disc; margin-left:15px; line-height:16px; margin-bottom:6px;}
.quick-links{background:#526c37; font-size:13px; padding:13px 10px 13px 94px; line-height:20px}
.quick-links a{color:#fff !important;}
.quick-links span{color:#7e7e7e; margin:0 5px}
.quick-heading{font-size:18px; color:#fff;clear:both;padding:10px 0 5px 90px;}
.study-plan-widget{width:798px; margin:30px auto 30px auto; clear:left}
.planning-info{background:#f8f8f8; padding:15px 10px 5px 10px;color:var(--Teal); font-size:12px;}
.application-process-info{border-top:3px solid var(--Teal);}
.planning-info ul, .application-process-info ul{display:table; width:100%;}
.planning-info ul li, .application-process-info ul li{display:table-cell; float:left; margin-right:10px; border:2px solid #f2f2f2; background:#fff;  width:24%; text-align:center;-webkit-transition: all 0.5s ease-out;-moz-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.application-process-info ul li{width:32% !important; margin:0 5px 10px 5px;}
.planning-info ul li a, .application-process-info ul li a{display:block; text-align:center;color:#506683 !important; text-decoration: none !important; padding:20px 4px; outline:0 none;}
.application-process-info ul li a{padding:10px;}
.country-icon, .course-icon, .exam-plan-icon,.college-plan-icon,.process-icon, .loan-icon, .visa-icon,.stu-life-icon{background-position:-143px -26px; width:61px; height:61px;position:relative;}
.course-icon{background-position:-211px -26px; top:5px;}
.exam-plan-icon{background-position:-279px -26px;top:5px;}
.college-plan-icon{background-position:-348px -26px;top:5px; height:60px;}
.process-icon{background-position:-417px -26px; top:5px;}
.loan-icon{background-position:-488px -26px;top:5px;}
.visa-icon{background-position:-558px -26px;top:5px;}
.stu-life-icon{background-position:-630px -26px;top:5px;}
.planning-info ul li:last-child{margin-right:0;}
.planning-info ul li strong, .application-process-info ul li strong{display:block; font-size:14px; margin:10px 0 2px;}
.application-process-info ul li strong{font-size:14px;}
.planning-info ul li:hover{background:#eef5ff; border-color:#d1e2fc; box-shadow:0 2px 2px #d7d7d7;}
.planning-info ul li:hover .country-icon{background-position:-143px -94px;}
.planning-info ul li:hover .course-icon{background-position:-211px -94px;}
.planning-info ul li:hover .exam-plan-icon{background-position:-279px -94px;}
.planning-info ul li:hover .college-plan-icon{background-position:-348px -94px;}
.planning-info ul li:hover .process-icon{background-position:-417px -94px;}
.planning-info ul li:hover .loan-icon{background-position:-488px -94px;}
.planning-info ul li:hover .visa-icon{background-position:-558px -94px;}
.planning-info ul li:hover .stu-life-icon{background-position:-630px -94px;}
.hm-refine li{ font:500 12px/14px 'Open Sans',sans-serif; color:#666666;}
.hm-refine-opt .common-sprite, .hm-refine-list .common-sprite{margin-right:5px !important;}
.hm-refine-list{ padding:6px 20px;}
.home-comment-icon{vertical-align:middle;background-position:-153px -3px !important;width:17px;height:20px;margin-right:4px;}
.home-pdf-icon{vertical-align:middle;background-position:-1px -91px !important;width:24px;height:25px;}
.button-style span {margin-left:3px;border-left:1px solid #e27034;	box-shadow:-1px 0 0 #f8a262;display:inline-block;height: 26px;padding: 2px 0 0 8px;vertical-align: middle;}
.articledwntxt{ font-size: 11px; color:var(--Charcoal-Black);text-align:left;margin-top:5px;}
.sop-home-icn, .lor-home-icn, .essay-home-icn, .stu-cv-home-icn, .visa-home-icn, .loan-home-icn{background-position:0 -161px; width:44px; height:51px;vertical-align: middle;}
.lor-home-icn{background-position:-51px -161px; position:relative; top:6px; width:45px;}
.essay-home-icn{background-position:-107px -161px; position:relative; top:12px;}
.stu-cv-home-icn{background-position:-161px -161px;}
.visa-home-icn{background-position:-216px -161px; width:49px;}
.loan-home-icn{background-position:-283px -155px; width:49px;}
.application-process-info ul li:hover .sop-home-icn{background-position:0px -215px;}
.application-process-info ul li:hover .lor-home-icn{background-position:-51px -215px;}
.application-process-info ul li:hover .essay-home-icn{background-position:-108px -215px;}
.application-process-info ul li:hover .stu-cv-home-icn{background-position:-161px -215px;}
.application-process-info ul li:hover .visa-home-icn{background-position:-216px -215px;}
.application-process-info ul li:hover .loan-home-icn{background-position:-281px -208px;}
.select-overlap{height: 29px; position: absolute; left: 0; top: 0; width: 341px; background-color: #fff; background:rgba(0,0,0,0); z-index: 9; -ms-filter: "alpha(opacity=0)"; filter: alpha(opacity=0);}
.home-wrapper{width: 988px; margin: 0 auto;}

.app-PrcsDiv {display:  inline-block;text-align:  left;width: 71%;vertical-align: middle;margin-left: 10px; color: var(--Teal)}
.app-PrcsDiv p {margin-bottom: 8px;color: var(--Charcoal-Black);font-size: 12px;}
