*{margin:0 auto;padding:0;outline:0;border:0;}
img{width:100%; height:auto;}
.row:after,
.row:before {
    content: "";
    clear: both;
    display: table
}
.sitemap-container {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family:'open sans';
	background:#fff;
	min-width:320px;
}

.row {
    margin-right: -16px;
    margin-left: -16px
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    float: left;
	position: relative;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.col-lg-12 {
    width: 100%
}
.col-lg-11 {
    width: 91.66666667%
}
.col-lg-10 {
    width: 83.33333333%
}
.col-lg-9 {
    width: 75%
}
.col-lg-8 {
    width: 66.66666667%
}
.col-lg-7 {
    width: 58.33333333%
}
.col-lg-6 {
    width: 50%
}
.col-lg-5 {
    width: 41.66666667%
}
.col-lg-4 {
    width: 33.33333333%
}
.col-lg-3 {
    width: 25%
}
.col-lg-2 {
    width: 16.66666667%
}
.col-lg-1 {
    width: 8.33333333%
}


.brdr-btm{border-bottom:1px solid #ececec; padding-bottom:20px; margin-bottom:10px;}
.main-title{font-size:18px; color:#4c4c4c; font-family:'open sans';  font-weight:400; margin-top:15px;}
.sub-title{color:#eea234; font-size:14px; margin-bottom:10px;font-family:'open sans';padding-left: 0px;}
.sub-title2{color:#464545; font-size:12px; margin-bottom:15px;font-family:'open sans'; line-height:20px; font-weight:600; display:inline-block; border-bottom:1px solid #464545;padding-top:10px;}
.sitemap-container ul{color:#7d7d7d; font-size:12px; font-weight:400;}
.sitemap-container ul li{list-style:none; line-height: 24px}
.sitemap-container ul li a{color:#7d7d7d; text-decoration:none}
.flLt{float:left;}
.flRt{float:right;}
.clear{clear:both;}
ul.alpha-list{width:88%;}
ul.alpha-list li{list-style:none; margin-right:3px; border:1px solid #e5e5e5; display:inline-block;}
ul.alpha-list li a{color:#999; font-size:14px; text-align:center; text-decoration:none; padding:0px 6px;}
ul.alpha-list li a:hover, ul.alpha-list li a.active{background:#f1f1f2;}
.sitemap-container ul li a:hover,
ul.alpha-list li a:hover,
ul.alpha-list li a.active{color:#0F838E;}

/**=============MEDIA QUERY================*/

/*mobile*/
@media (min-width: 320px) and (max-width: 767px) {
    .sitemap-container {
        width: 100%;
    }
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12{
        width:100%;
    }
    ul.alpha-list{width:100%;margin-bottom:20px;}
    .sitemap-container ul li a {font-size:14px;}
    .sub-title2{font-size:13px;}
    .sub-title{font-size:16px;}
    ul.alpha-list li a{line-height:24px;padding:0px 8px;display:block;}
}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .sitemap-container {
        width: 750px
    }
	ul.alpha-list{width:100%;margin-bottom:20px;}
}
/*desktop*/
@media (min-width: 992px) {
    .sitemap-container {
        width: 928px
    }
}
/*desktop above*/
@media (min-width: 1200px) {
    .sitemap-container {
        width: 928px
    }
}
h1,h2,h3,h4{display: block;}
.last-row{border:none;}
.last-row{margin-bottom: 10px;padding-bottom: 10px;}
.no-data{font-size: 14px;color:#7d7d7d;}
input[type=text]{border:1px solid #BFBEBE;padding: 2px;}
.hide{display: none;}
.search-layer-field1 .search-clg-field1{border:none !important; outline:none !important;padding:0 !important; height:auto !important; width:88% !important;   float:left !important;}
.search-layer-field1{padding:4px 8px;border:1px solid #ecece5;color:#c5c5c5; float:left; width:100%; box-sizing:border-box;-moz-box-sizing:border-box;   -webkit-box-sizing:border-box;position:relative;margin-bottom: 10px;}
.search-sml-icn1{background-position:-26px -185px !important;width:13px; height:14px; vertical-align:middle; display:inline-block !important; float:left; margin-right:6px !important;}
.msprite1{background:url(../mobile5/images/mobile-sprite.png) no-repeat; display:inline-block; position:relative}
.search-field input[type="text"]{border:1px solid #ccc;background:#fff; padding:7px 25px 6px 8px;outline:none;width:100%; font-size:12px;font-weight:normal;    float:left; box-sizing:border-box;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box;color:#666 !important; border-radius:0 !important;outline:none !important; text-overflow:ellipsis;-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important; height: 31px; vertical-align: middle; line-height: 16px;}