#course-title{margin-bottom:15px; float:left; width:100%}
#course-title h1{font:normal 18px 'open sans', sans-serif; color:#4d4d4d; margin-bottom:2px; float:left; margin-left:22px}
.cate-sprite{background:url(../images/abroad-category-sprite4.png); display:inline-block;font-style:none; vertical-align:middle;}
.institute-nav{background:#e3e3e3; border-bottom:2px solid var(--Teal);}
ul.institute-tab li{float:left; position:relative;}
ul.institute-tab li.active{background:var(--Teal);border-top:1px solid #E3E3E3;border-left:1px solid #E3E3E3;}
ul.institute-tab li a{text-align:center; color:#333; font-size:15px; padding:10px 15px; display:block; text-decoration:none; outline:0 none; float:left}
ul.institute-tab li.active a{text-align:center; color:#fff;}
.shrtlist-icon{background-position:-84px -19px; width:21px; height:22px;margin:0 4px 0 2px; vertical-align:bottom; position:relative; top:2px}
ul.institute-tab li.active .shrtlist-icon{background-position:-60px -19px;}
.sort-select{padding:3px; outline:none; width:150px;font-weight:bold;}
ul.institute-tab li .pointer{background-position:-46px 0; width:18px; height:15px; position:absolute; top:43px; left:18px; display:none;}
ul.institute-tab li.active .pointer{display:block !important;}
.univ-tab-details{padding:30px 15px 0px 15px !important;}
ul.tuple-cont{}
ul.tuple-cont li{background:#fbfbfb; border:1px solid #f3f3f3; margin-bottom:8px ; list-style:none}
ul.tuple-cont li.sponsered{background:#fef9dc;}
.tuple-box{ float:left; width:100%; padding:8px; position:relative}
.tuple-separater{border-top:1px solid #f4f4f4; margin-top:5px; padding-top:15px}
.tuple-image{background:#fff; border:1px solid #f3f3f3; padding:5px; position:relative; width:184px}
.tuple-image p{font-size:11px; color:#75a2de; text-align:center;margin:12px 0 0 0;}
.add-shrlst-icon, .add-shrlst-icon2{background-position:-212px -19px; width:29px; height:29px; position:absolute; bottom:18px; left:77px;}
.add-shrlst-icon2{background-position:-174px -19px; width:33px;}
.tuple-detail{margin-left:208px;}
.tuple-sub-title{font-weight:bold; font-size:15px;}
.tuple-title{margin-bottom:10px; width:90%}
.tuple-title a{font-weight:bold; font-size:13px; color:#666 !important;}
.tuple-title span{color:#999;}
.update-msg{color:#666666; font-size:12px}
.uni-course-details{width:450px; border-right:1px solid #dadada; border:1px solid #dadada\9; background:#fff; margin:8px 0; padding:8px; position:relative; margin-right:25px;}
/*Border Gradient*/
.uni-course-details:before, .uni-course-details:after { content: ""; position: absolute;  }
.uni-course-details:before {width: 100%; height:1px; right: -1px; bottom: -1px; background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#fff), to(#dadada));
background-image: -webkit-linear-gradient(right, #dadada, #fff);
background-image: -moz-linear-gradient(right, #dadada, white); background-image: -o-linear-gradient(#fff, #dadada); }
.uni-course-details:after { right: -1px; height: 1px; left: -1px; top: -1px; background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#dadada), to(#fff));
background-image: -webkit-linear-gradient(right, #dadada, #fff);
background-image: -moz-linear-gradient(right, #dadada, white); background-image: -o-linear-gradient(left, #dadada, #fff);}
.detail-pointer{background-position:-66px 0; width:18px; height:16px; position:absolute; right:-18px; top:31px;}
.detail-col{width:145px; font-size:13px; color:#666;}
.detail-col p{margin-bottom:3px}
.detail-col strong{color:#999; margin-bottom:5px; display:block}
.non-available{color:#999 !important;}
a.smlr-course-btn{background:#fff; border:1px solid #e3e3e3;padding:4px 6px; border-radius:3px; display:inline-block; margin:15px 0 0px 0; text-decoration:none; color:#666;}
.plus-icon, .minus-icon{background-position:-87px 0; width:15px; height:14px; margin-right:4px;}
.minus-icon{background-position:-104px 0;}
.btn-col{margin:27px 0 0 0; float:left;}
.dwnld-icon{background-position:-245px -19px; width:24px; height:25px; margin-right:4px;}
.add-shortlist, .added-shortlist{background-position:0 -51px; width:78px; height:77px; position:absolute; top:0px; right:-2px; cursor:pointer}
.added-shortlist{background-position:-81px -51px; width:77px; right:0;}
.course-touple{}
.add-course-touple{border-top:1px solid #666; padding-top:23px;position:relative; top:-20px; z-index:9999}
.cross-mark{color:#a7a7a7; font-weight:bold; font-size:14px;}
.sponser-title{color:#999; font-size:12px; font-style:italic; margin:15px 0 5px 0;}
.pagination{background:#fbfbfb; padding:15px; border:1px solid #f0f0f0; margin:15px 0;}
.pagination p{font-size:14px;}
ul.pagination-list{float:left; color:#999999}
ul.pagination-list li{margin-right:8px; float:left}
ul.pagination-list li a{text-decoration:none; border:1px solid #b0b0b0; padding:2px 5px;}
ul.pagination-list li a.active{background:#333; color:#fff;}
ul.pagination-list li.first-child a, ul.pagination-list li.last-child a{border:none;}
.view-btn{border:1px solid #ccc; -moz-border-radius:2px; -webkit-border-radius:2px;  border-radius:2px;padding:4px 12px; color:#333 !important; text-decoration:none !important; display:block; margin:5px 0 0 0; width:190px; background:#fff; -moz-transition-property:background-color, color,; -moz-transition-duration:500ms; -moz-transition-timing-function:ease-out; -webkit-transition-property:background-color, color,; -webkit-transition-duration:500ms; -webkit-transition-timing-function:ease-out;
transition-property:background-color, color,; transition-duration:500ms; transition-timing-function:ease-out;}
.view-btn span{font-size:18px; float:right;}
.view-btn:hover{color:#fff !important; background:#F78640;}
.result-arrow{background-position:-206px -21px; width:9px; height:10px; position:absolute; right:-9px; top:11px;}
.cate-color{color:#f78640}
.result-head{font-size:15px; color:#4d4d4d; padding-bottom:5px; margin-bottom:5px}
.tuple-content{margin:8px 0;}
.tuple-content p{color:#666; line-height:23px;}
ul.result-tab-details li{border-bottom:1px solid #ebebeb !important; margin-bottom:5px; padding-bottom:5px; border:0 none; background:#fff}
ul.result-tab-details li .tuple-box{padding:8px 0 !important}
.commnt-title{color:#999;margin:10px 0 0 0; float:left;}
.commnt-icon{background-position:-161px -175px; width:23px; height:17px; vertical-align:bottom;}
.search-menu{border-top:1px solid #E3E3E3;border-left:1px solid #E3E3E3; background:#fff !important; height:42px; padding:10px 20px 0}
.search-menu a{padding:0px !important; margin-top:2px}
.search-menu span{float:left; color:#E3E3E3; font-size:15px; margin:0 10px}
.search-menu strong{margin-right:10px; font-size:18px; float:left}
.search-menu a {color:var(--Teal) !important}
.search-box{margin:10px 0 18px;}
.search-field{border:1px solid #ccc;width:422px; border-right:0 none; float:left}
.search-width{padding:7px; border:0 none; outline:none;width:399px; font:normal 14px 'open sans', sans-serif; color:#666666}
.load-more{background:#fafafa; padding:10px; margin:5px 0 40px 0;}
.load-more-btn{background:#fff;border:1px solid #ccc; border-radius:3px; width:300px; padding:9px 10px; text-align:center; margin:0 auto; box-shadow:0px 1px 3px #d8d8d8; display:block;color:#333 !important; font-size:18px; text-decoration:none !important;}
.zero-searchResult{color:#666; font-size:18px; padding:30px 0 100px 22px; }
.zero-searchResult p{margin-bottom:8px;}
.layer-sprite{background:url(../images/abroad-layer-sprite.jpg); display:inline-block;font-style:none; vertical-align:middle;}
/*Layer Tupple CSS*/
.abroad-layer-tupple {width:800px !important;}
.abroad-layer-tupple .univ-tab-details{padding:0px 0 10px !important;}
.abroad-layer-tupple .confirm-msg{margin-bottom:0px;}
.abroad-layer-tupple h2{margin:20px 0 10px 0; font-size:18px; font-weight:normal;}
.abroad-layer-tupple .tuple-detail{margin-left:190px;}
.abroad-layer-tupple .tuple-detail .btn-col a strong{display:inline-block; font-size:12px; position:relative; top:1px;}
.abroad-layer-tupple .tuple-detail .tuple-title a{font-size:12px;}
.abroad-layer-tupple .tuple-sub-title{font-size:14px !important;}
.abroad-layer-tupple .uni-course-details{width:355px; margin-right:10px}
.abroad-layer-tupple .uni-course-details .detail-col{font-size:11px; width:100px;}
.abroad-layer-tupple .uni-course-details .detail-col strong{font-size:11px;}
.abroad-layer-tupple .dwnld-icon{background-position:-213px -130px; width:18px; height:17px; margin-right:4px; top:-1px}
.abroad-layer-tupple .detail-pointer{background-position: -72px 0; right:-13px; width:13px; top:26px}
.abroad-layer-tupple .btn-col{margin:27px 0 0 5px}
.reco-btn-col {margin-top: 7px;}
a.univ-tuple-link{font-size:15px !important;color:var(--Teal) !important;}
