.font-15{font-size:15px;}
.all-univ-table{width:100%; margin-top:20px;}
.all-univ-table tr th{background:#ebebeb; border-bottom:2px solid #4573b1; color:#333; padding:15px 10px; text-align:left;}
/*.all-univ-table tr{-moz-transition:background-color 500ms ease-out; -webkit-transition:background-color 500ms ease-out; transition:background-color 500ms ease-out;}
.all-univ-table tr:hover{background-color:#f1f1f1}
*/
.all-univ-table tr td{vertical-align:top; padding:12px; border-top:1px solid #ebebeb; line-height:18px; color:#666;}
.popular-row td{border-top: none !important;}
.view-btn{border:1px solid #ccc; -moz-border-radius:2px; -webkit-border-radius:2px;  border-radius:2px;padding:4px 7px; color:#333 !important; text-decoration:none !important; display:block; margin:5px 0 0 0; width:158px; background:#fff; -moz-transition-property:background-color, color,; -moz-transition-duration:500ms; -moz-transition-timing-function:ease-out;-webkit-transition-property:background-color, color,; -webkit-transition-duration:500ms; -webkit-transition-timing-function:ease-out; transition-property:background-color, color,; transition-duration:500ms; transition-timing-function:ease-out;}
.view-btn:hover{color:#fff !important; background:#F78640;}
.all-univ-table tr td span{display:block;}
.all-univ-table tr td.last{border-right:1px solid #ebebeb;}
.view-btn span{font-size:18px; float:right;}
.alt-rowbg{background:#fafafa}
.number-bg{font-weight:normal; border-bottom:0 none !important;border-top:0 none !important;}


/*27 may Style*/
.all-univ-table tr.popular-row-border td{border-bottom:0 none;}
.all-univ-table tr.popular-row td{border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb}
.all-univ-table tr.popular-row td.number-bg{border:0 none !important}
/*.all-univ-table tr.popular-row, .all-univ-table tr.popular-row-border{-moz-transition:none; -webkit-transition:none; transition:none;}
.all-univ-table tr.popular-row:hover, .all-univ-table tr.popular-row-border:hover{background-color:transparent}*/
.country-dwn-arrow{background-position:-236px -50px;width:15px; height:11px;}
.popular-courses{width:475px;border:1px solid #ebebeb;}
.popular-courses tr th{background:#ebebeb; border:1px solid #ebebeb; color:#999; padding:3px 5px; text-align:left;}
.popular-courses tr td{vertical-align:top; padding:6px 8px; border:0 none !important; border-bottom:1px solid #ebebeb !important; line-height:18px; color:#666; background:#fff;}
.course-pointer{background-position:-235px -106px; width:18px; height:15px;top:0; left:10px;}
.photos-icon, .videos-icon{background-position:-213px -91px; width:17px; height:12px; margin-right:4px; top:-1px}
.videos-icon{background-position:-233px -91px; margin-left:3px}
.all-countries-layer{border:1px solid #d3d3d3; width:390px; position:absolute; top:47px; left:200px; z-index:1; -moz-box-shadow:0px 0px 3px #ababab; -webkit-box-shadow:0px 0px 3px #ababab; box-shadow:0px 0px 3px #ababab; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; border-radius:0 0 3px 3px; background:#fff}
.all-country-title{background:#666; padding:12px 8px; color:#fff;}
.all-country-list{padding:10px;}
.all-country-list ul{width:99%; float:left}
.all-country-list ul li{width:45%; margin-bottom:12px}
.all-country-list ul a strong{margin:10px 0 0 61px; font-weight:normal; display:block}
.all-countries-layer .pointer{background-position:-235px -66px;width:20px; height:12px; position:absolute; top:-11px; left:10px;}
.mtb2{margin:2px 0}
/*New ranking CSS*/
.ranking-table{font-size:14px; width:100%;}
.ranking-table .seperator{height:6px; background:#fff;}
.ranking-table tr.header-border th{background: var(--Nickel)}
.ranking-table tr th, .ranking-table tr td{font-size:14px; color:#666; padding:8px; text-align:left;vertical-align:middle;}
.ranking-table tr td{font-size:14px; color:var(--Charcoal-Black);border-bottom:1px solid var(--Smoke); padding:18px 10px; vertical-align:top;}
.ranking-table .number-bg{ font-size:18px; text-align:center;border-bottom:1px solid var(--Smoke) !important; }
.ranking-table .last{padding:0;}
.cntry-title{color:var(--Dark-Slate); display:block; margin-top:2px;}
.ranking-table .dwnld-icon{background-position: -213px -130px; height: 17px;margin-right: 4px;top: -1px; width: 18px;}






.course-title{margin-bottom:10px; float:left; width:100%}
.course-title h1{font:normal 26px 'open sans', sans-serif; color:#4d4d4d; margin-bottom:2px; float:left}
.refine-box h2{font-size:15px;}
.refine-head{margin-bottom:8px}
.cate-sprite{background:url(../images/abroad-category-sprite4.png); display:inline-block;font-style:none; vertical-align:middle;}
.flags{background:url(../images/flags-sprite5.png) no-repeat; display:inline-block;font-style:none; width:53px; height:35px}
.pencil-icon, .reset-icon{background-position:0 0; width:12px; height:12px; margin-right:2px;}
.reset-icon{background-position:-14px 0}
.reset-refine{color:#A7A7A7}
.change-btn-rwap{float: left; margin: 4px 0 0 10px; position: relative}
a.change-course{border:1px solid #d6d6d6; padding:5px 8px; background:#f8f8f8; float:left; text-decoration:none !important}
.change-arrow{background-position:0 0; width:9px; height:6px; margin-left:3px}
.reset-refine a:hover{text-decoration:none;}
.refine-details{background:#fff;}
.refine-details .last{border-right:0 none;}
.refine-container{background:#f0f0f0; border:1px solid #ccc; padding:0 3px 3px 3px;color: var(--Charcoal-Black);}
.refine-col{width:202px; border-right:1px solid #ccc; padding:5px 10px 5px 0px}
.refine-by-title{padding:2px 0;}
.refine-by-title .refine-col{border:0 none}
.refine-col strong{margin-left:12px; display:block}
ul.refine-list{padding:5px; float:left; margin:0 5px;}
ul.refine-list li{margin-bottom:7px; padding:0; width:100%; float:left}
ul.refine-list li label{font-size:12px; color:#333;  display:block;}
ul.refine-list li.active{font-weight:bold;}
.refine-search{border:1px solid #ccc; width:184px; margin:4px 10px 5px 10px;}
.refine-search input[type="text"]{border:0 none; outline:none; width: 156px;}
.refine-search-icon{background-position:-27px 0; width:17px; height:16px; margin:3px 0 3px 3px;}
.selection-criteria{color:#333; font-size:11px; float:left; margin:0 0 8px 0; padding:0 8px;}
.selection-criteria label{color:#999; float:left; width:110px}
.selection-criteria .selected-items {margin-left:110px;}
.selection-criteria .selected-items p{float:left; margin:0 12px 10px 0px;}
a.cross-icon{border-radius:50%; background:#c8c8c8; width:16px; height:16px; display:inline-block; text-align:center; font-size:12px; color:#666; font-weight:bold; text-decoration:none; margin-left:5px}
.disabled-item{color:#999999 !important}
.disabled-item a.cross-icon{background:#efefef !important; color:#c2c0c1 !important; cursor:auto !important; outline: 0 none;}
.institute-nav{background:#e3e3e3; border-bottom:2px solid var(--Teal);}
ul.institute-tab{width:500px;}
ul.institute-tab li{float:left; position:relative;}
ul.institute-tab li.active{background:var(--Teal);}
ul.institute-tab li.active a{color:#fff;}
ul.institute-tab li a{text-align:center; color:#333; font-size:15px; padding:10px 15px; display:block; text-decoration:none; outline:0 none}
.inst-icon{background-position:-30px -19px; width:26px; height:22px;margin-right:4px; vertical-align:bottom;}
ul.institute-tab li.active .inst-icon{background-position:0 -19px;}
.shrtlist-icon{background-position:-84px -19px; width:21px; height:22px;margin:0 4px 0 2px; vertical-align:bottom;}
ul.institute-tab li.active .shrtlist-icon{background-position:-60px -19px;}
.sort-section{padding:6px 10px 0 0;font-size: 14px;}
.sort-section label{color:var(--Charcoal-Black); vertical-align:middle;}
.sort-select{padding:3px; outline:none; width:150px;font-weight:bold;}
ul.institute-tab li .pointer{background-position:-46px 0; width:18px; height:15px; position:absolute; top:43px; left:18px; display:none;}
ul.institute-tab li.active .pointer{display:block !important;}
.univ-tab-details{margin:30px 0 10px 0 !important;}
/*Tupple CSS*/
ul.tuple-cont{}
ul.tuple-cont li{background:#fbfbfb; border:1px solid #f3f3f3; margin-bottom:8px; list-style:none}
ul.tuple-cont li.sponsered{background:#fef9dc;}
.sponsered-text{color:#999; font-size:12px; font-style:italic; margin:15px 0 5px 0; display:none}
ul.tuple-cont li.sponsered .sponsered-text{display:block}
.tuple-box{ float:left; width:100%; padding:8px; position:relative}
.tuple-separater{border-top:1px solid #f4f4f4; margin-top:5px; padding-top:15px}
.tuple-image{background:#fff; border:1px solid #f3f3f3; padding:5px; position:relative; width:184px}
.tuple-image p{font-size:11px; color:#75a2de; text-align:center;margin:12px 0 0 0;}
.add-shrlst-icon, .add-shrlst-icon2{background-position:-212px -19px; width:29px; height:29px; position:absolute; bottom:18px; left:77px;}
.add-shrlst-icon2{background-position:-174px -19px; width:33px;}
.tuple-detail{margin-left:208px;}
.tuple-sub-title{font-weight:bold;font-size: 14px;}
.tuple-title{margin-bottom:10px; width:90%}
.tuple-title a{font-weight:bold; font-size:18px;}
.tuple-title span{color:#999;}
.update-msg{color:#666666; font-size:12px}
.uni-course-details{width:450px; border-right:1px solid #dadada; border:1px solid #dadada\9; background:#fff; margin:8px 0; padding:8px; position:relative; margin-right:25px;}
/*Border Gradient*/
.uni-course-details:before, .uni-course-details:after { content: ""; position: absolute;  }
.uni-course-details:before {width: 100%; height:1px; right: -1px; bottom: -1px; background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#fff), to(#dadada));
background-image: -webkit-linear-gradient(right, #dadada, #fff);
background-image: -moz-linear-gradient(right, #dadada, white); background-image: -o-linear-gradient(#fff, #dadada); }
.uni-course-details:after { right: -1px; height: 1px; left: -1px; top: -1px; background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#dadada), to(#fff));
background-image: -webkit-linear-gradient(right, #dadada, #fff);
background-image: -moz-linear-gradient(right, #dadada, white); background-image: -o-linear-gradient(left, #dadada, #fff);}
.detail-pointer{background-position:-66px 0; width:18px; height:16px; position:absolute; right:-18px; top:31px;}
.detail-col{width:145px; font-size:13px; color:#666;}
.detail-col p{margin-bottom:3px}
.detail-col strong{color:#999; margin-bottom:5px; display:block}
.non-available{color:#999 !important;}
a.smlr-course-btn{background:#fff; border:1px solid #e3e3e3;padding:4px 6px; border-radius:3px; display:inline-block; margin:15px 0 0px 0; text-decoration:none; color:#666;}
.plus-icon, .minus-icon{background-position:-87px 0; width:15px; height:14px; margin-right:4px;}
.minus-icon{background-position:-104px 0;}
.btn-col{margin:27px 0 0 0; float:left;}
.reco-btn-col {margin-top: 7px;}
.add-shortlist, .added-shortlist{background-position:0 -51px; width:78px; height:77px; position:absolute; top:0px; right:-2px; cursor:pointer}
.added-shortlist{background-position:-81px -51px; width:77px; right:0;}
.course-touple{}
.add-course-touple{border-top:1px solid #666; padding-top:23px;position:relative; top:-20px; z-index:9999}
.cross-mark{color:#a7a7a7; font-weight:bold; font-size:14px;}
.compare-box{font-size:11px; color:#666}
.similar-section{margin-top:15px}
.similar-section h2{font-size:18px !important; font-weight:normal; color:#333; margin-bottom:10px}
.similar-tuple{ margin-bottom:10px; width:49%; border:1px solid #ebebeb; padding:8px;}
.similar-tuple-image{border:1px solid #f4f4f4;padding:3px;}
.similar-tuple-detail{margin-left:170px;}
.similar-tuple-title{margin:8px 0;}
.tuple-course-name{margin:10px 0 3px 0}
.similar-tuple-title strong, .tuple-course-name strong{display:block; margin-bottom:5px; line-height:18px}
.tuple-course-name strong{line-height:normal; margin-bottom:2px}
.similar-tuple-title span{font-size:12px; color:#666;}
.tuple-course-name p{color:#666;}
.export-icon{background-position:-109px -19px; width:22px; height:22px;}
.pagination{background:#fbfbfb; padding:15px; border:1px solid #f0f0f0; margin-bottom:15px;}
.pagination p{font-size:14px;}
ul.pagination-list{float:left; color:#999999}
ul.pagination-list li{margin-right:8px; float:left}
ul.pagination-list li a{text-decoration:none; border:1px solid #b0b0b0; padding:2px 5px;}
ul.pagination-list li a.active{background:#333; color:#fff;}
ul.pagination-list li.first-child a, ul.pagination-list li.last-child a{border:none;}
.select-opt-layer .active{background:#c4e7ff}
.flag-box{width:53px; height:35px; display:inline-block; vertical-align:text-top}
.opt-txt{text-align:center; position:absolute; top:-13px; width:46px; padding:4px; background:#f3f3f3; left:45%; font-size:14px;}
.h-rule{height:1px; border-bottom:1px dashed #ccc; margin:20px 0; width:100%; float:left; position:relative}
.rem-box{margin:10px 0 15px; font-size:11px}
.compare-wrap{background:#eef6ff; border:1px solid #f0f0f0; color:#333; padding:6px 6px 10px; margin:5px 0 30px}
.compare-head{padding-left:4px; margin-bottom:8px}
.compare-head strong{font-size:14px; display:block; margin-bottom:3px}
.compare-head .button-style span{font-size:22px; font-weight:normal; vertical-align:middle; position:relative; top:-3px; line-height:16px}
.compare-head p{font-size:12px}
ul.compare-items li{width:233px; background:#fff; padding:5px; float:left; margin-right:5px;}
ul.compare-items li.last{margin-right:0 !important; width:238px}
.compare-pic{background:#dbdbdb; padding:2px; width:80px; height:57px; float:left; position:relative}
.compare-details{margin-left:87px; color:#666666; font-size:11px}
.compare-details p{color:#999999}
.add-compare{color:#fff !important; font-size:26px; font-weight:bold; text-align:center; display:block; padding:7px 0; text-align:center; cursor:pointer; text-decoration:none !important; height:53px}
ul.compare-items a.cross-icon{background:#666; color:#fff; position:absolute; right:-6px; bottom:-4px;}
.layer-sprite{background:url(../images/abroad-layer-sprite.jpg); display:inline-block;font-style:none; vertical-align:middle;}
.abroad-email-icon{background-position:-135px -19px; width:35px; height:20px; margin-right:5px; vertical-align:top;}
.shortlist-nav-bar{border-bottom:0 none;padding:22px 0 0 0;}
.selection-list{width:100%; float: left}
.shortlist-nav-bar .sticky .selection-list{width:90%; float:left;}
.shortlist-nav-bar .sticky .selection-criteria{margin:12px 0 8px 0;}
.sticky{position: fixed; top: 0px; z-index: 1; -moz-box-shadow:0 5px 4px -2px #848484; -webkit-box-shadow:0 5px 4px -2px #848484;box-shadow:0 5px 4px -2px #848484; width: 967px; background: #fff; border:1px solid #999; padding-top: 15px}
.sticky .selection-criteria{margin-bottom: 0 !important}
.sticky .selection-list{width: 91% !important; margin-bottom:3px !important}
.select-overlap{height: 41px; position: absolute; left: 0; top: 0; width: 410px; background-color: #fff; background:rgba(0,0,0,0); z-index: 9; -ms-filter: "alpha(opacity=0)"; filter: alpha(opacity=0);}
.select-opt-layer{border:1px solid #ccc; padding:8px; background:#fff; position:absolute; top:40px; left:0}
.select-opt-layer .active{background:#c4e7ff}
.select-opt-layer ol li{float:left; width:100%}
.select-opt-layer p{color:#666666; margin:5px 0 15px 0; font-size:11px}
.country-flag-cont{font-size:10px; background:#fff; float:left; width:124px; margin:0 5px 5px 0; cursor:pointer; position:relative}
.country-flag-cont p{margin:0;}
.country-flag-cont strong{float:left; width:60px; margin-left:3px; font-weight:normal;}
.flag-main-box{padding:5px 0 5px 5px; height:62px}
.flag-chkbox{position:absolute; left:5px; bottom:4px; z-index:99}
.flag-box{width:53px; height:35px; display:inline-block; vertical-align:text-top}
.opt-txt{text-align:center; position:absolute; top:-13px; width:46px; padding:4px; background:#f3f3f3; left:45%; font-size:14px;}
.h-rule{height:1px; border-bottom:1px dashed #ccc; margin:20px 0; width:100%; float:left; position:relative}
.zero-result{font-size:15px; color:#333; padding-bottom: 200px;}
.zero-result h2{border-bottom:1px solid #d6d6d6; font-size:15px; color:#333;margin-bottom:8px; }
.zero-result p{margin-bottom:8px;}
.shortlist-head{background:#e3e3e3; font-size:26px; color:#666; padding:5px 8px; }
.shrtlisted-icon{background-position:-212px -51px; width:23px; height:24px; margin-right:6px; vertical-align:top; top:4px; position:relative;}
.shorlisted-ist-title{font-size:15px; border-bottom:2px solid #d6d6d6; padding-bottom:5px; margin-bottom:10px;}
.course-country-help {left:265px;position: absolute;top: -29px;width: 203px;}
.course-country-help p{font-size: 13px;word-wrap: break-word; list-style: decimal;line-height: 16px; color: #666; margin: 25px 0 0 14px;}
.sort-by-help p{font-size: 13px;word-wrap: break-word; list-style: decimal;line-height: 16px; color: #666; margin-top: 40px;}
.sort-by-help {right:-135px;position: absolute;top: -95px;width: 142px;right: -160px;}
.course-title h1 a{border-bottom:1px dashed #cccccc; text-decoration:none; color:#4d4d4d;}

/*Layer Tupple CSS*/
.abroad-layer-tupple {width:800px;}
.abroad-layer-tupple .univ-tab-details{margin-top:0 !important;}
.abroad-layer-tupple .confirm-msg{margin-bottom:0px;}
.abroad-layer-tupple h2{margin:20px 0 10px 0; font-size:18px; font-weight:normal;}
.abroad-layer-tupple .tuple-detail{margin-left:190px;}
.abroad-layer-tupple .tuple-detail .btn-col a strong{display:inline-block; font-size:11px; position:relative; top:1px;}
.abroad-layer-tupple .tuple-detail .tuple-title a{font-size:12px;color:#666;}
.abroad-layer-tupple .uni-course-details{width:355px; margin-right:10px}
.abroad-layer-tupple .uni-course-details .detail-col{font-size:11px; width:100px;}
.abroad-layer-tupple .uni-course-details .detail-col strong{font-size:11px;}
.abroad-layer-tupple .dwnld-icon{background-position:-213px -130px; width:18px; height:17px; margin-right:4px; top:-1px}
.abroad-layer-tupple .detail-pointer{background-position: -72px 0; right:-13px; width:13px; top:26px}
.abroad-layer-tupple .btn-col{margin:27px 0 0 5px}
.category-update-sec{background:#fff; padding:5px 12px; font-size:11px; line-height:18px; color:#666;}
.univ-offerdLink-table{width:100%; margin:45px 0 10px 0;}
.univ-offerdLink-table tr th{background:#336699; color:#fff; font-weight:bold; font-size:13px; padding:5px 6px; text-align:left;}
.univ-offerdLink-table tr td{color:#666; font-size:12px; border:1px solid #ebebeb; padding:10px;}
.all-univ-table tr.sponsered{background:#fef9dc;}
.all-univ-table tr.sponsered .number-bg{background:#fef9dc !important; border-bottom:1px solid #ebebeb !important;  border-top:1px solid #ebebeb !important;}
.snapshot-wrap{width:755px;}
.snapshot-wrap .uni-course-details{width:275px; padding:2px 8px;}
.snapshot-wrap .detail-col{width:135px;}
.info-tooltip-icon{background-position:-245px 0; width:15px; height:15px; margin-left:6px; cursor:pointer;}
.tooltip-info{background:#fbfbfb; border:1px solid #ccc; border-radius:3px; padding:2px 4px; font-size:11px; width:310px; color:#666; font-style:italic; position:absolute; box-shadow:0 1px 2px #ddd; top:-24px; right:155px;}
.tooltip-info .pointer{background-position:-264px 0; width:8px; height:9px; position:absolute; bottom:-9px; left:20px;}
.confirmation-details{margin:20px 0 30px; font-size:18px; color:#333;}
.confirmation-details p{margin-bottom:6px;}
