#wrapperMainForCompleteShiksha{min-width: 100%;width: 100%;background: white;}
.pdf--wrapper{margin: 0px;box-sizing: border-box; }
.pdf--wrapper .ilp section{box-shadow: none;border: none;}
.pdf--wrapper ._subcontainer{padding: 0px;}
.pdf--wrapper .wikkiContents table{display: table;width: 100%;}
:root{font-size: 20px;}
.pdf--wrapper .ctpSrp-contnr{padding: 10px;}

.pwa_wrapper .pdf--wrapper .ctp-SrpLst .flexi-div{width: 100%;}
.pwa_wrapper .pdf--wrapper .flexi-div .ctp-SrpDiv{padding: 16px; }
.pdf--wrapper .ctpSrp-contnr a.fnt-w6{display: block;line-height: 1.3125rem;margin-bottom: 2px;}
body{margin: 0px;font-size: 18px;line-height: 24px;font-family:Arial,sans-serif;}
.pdf--wrapper h1{font-size: 22px;line-height: 26px;}
.datesPdf{margin:0 auto;padding: 20px 45px 0px;box-sizing: border-box;background: #fff;}
tr.faded{opacity: .6;}.pdf--wrapper .wikkiContents h2 {font-size: 20px;color: #000;font-weight: 600;}
.pdf--wrapper .wikkiContents table {display: table;width: 100%;border-collapse: collapse;overflow: auto; margin:0 1px 15px}
.pdf--wrapper .wikkiContents table tr th {text-align: center;  background-color: #003d5c;color: #fff;font-weight: 600;padding: 4px 8px 6px;border: 1px solid #003d5c;}
.pdf--wrapper .wikkiContents table tr th h1, .pdf--wrapper .wikkiContents table tr th h2, .pdf--wrapper .wikkiContents table tr th h3, .pdf--wrapper .wikkiContents table tr th h4, .pdf--wrapper .wikkiContents table tr th h5, .pdf--wrapper .wikkiContents table tr th h6, .pdf--wrapper .wikkiContents table tr th p {
margin: 6px 0px 4px;
font-weight: 600;
}
.pdf--wrapper .wikkiContents table tr td {color: #000;text-align: left;background-color: #fff;border: 1px solid #003d5c;padding: 2px 8px 6px;}
.pdf--wrapper .wikkiContents p {margin: 4px 0 10px;font-size: 18px;line-height: 24px;}
.pdf--wrapper .wikkiContents table tr td p, .pdf--wrapper .wikkiContents table tr th p {  margin: 0;}
.pdf--wrapper .wikkiContents ul{padding:0;margin-left:18px;list-style-type:disc;margin-bottom:5px}
.pdf--wrapper .wikkiContents div,ol,ul{}
.pdf--wrapper .wikkiContents ol li,.pdf--wrapper .wikkiContents ul li{margin-bottom:10px;font-size: 18px;line-height: 24px;}
.pdf--wrapper .wikkiContents table a{text-decoration:none}
.fnt-w6,.pdf--wrapper .wikkiContents a{font-weight:400;color:#008489}
.pdf--wrapper .wikkiContents h1{font-size:26px;line-height:30px;margin:6px 0 10px}
.pdf--wrapper .pwaexams_container .exam_date .button--orange{float: right;width: 155px; display: none;}
.pdf-disc{    color: #666;
margin: 0 -45px;
background: #f3f8f8;
padding: 6px 10px;
text-align: center;}
.pdf-disc p{margin: 0px;}
.pdfHeader{margin-bottom:30px}
.pdfFooter{margin:30px 0 15px;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:baseline}
.pdfHeader img,.logo-footer img{width:120px}
.pdf-disc{color:#666;}
.pdfFooter div:nth-child(2){margin-left:auto;}
.pdfFooter div:nth-child(2) a{color:#008489}
.ambedWidget{margin-left: 1px solid!important;margin-right: 1px solid!important;}
.ctp-detail ul li.feesUnit{min-width: 90px;}
.pdf--wrapper span.rating-block.rvw-lyr{font-size: 0.75rem}
div#cutofflast section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.inline-selection {
    width: 140px;
    float: right;
}
.pdf_display_none{display: none !important;}

@media print {
  .new-page {
    page-break-before: always;
  }
}