/*filters css*/
.ctp--top_filters{border-bottom:1px solid #d2d2d2;margin-bottom:10px}
.sortby--options b{font-size:.875rem;font-weight:600}
a.sort--label{font-size:.875rem;color:#000;padding:0 12px 7px;display:inline-block;cursor:pointer;margin-right: 15px;}
a.sort--label.active{color:#008489;font-weight:600;border-bottom:4px solid #008489;    vertical-align: top;position: relative;}
.sort-left{display:inline-flex;margin-left:10px;min-width:46%;}
a.sort--label.active[href*="sby=fees"]:after,
a.sort--label.active[href*="ratingAsc"]:after ,
a.sort--label.active[href*="feesDesc"]:after,
a.sort--label.active[href*="rating"]:after{content: '';position: relative;;top: 0px;width: 10px;height: 100%;margin-left: 3px;vertical-align: top;}
a.sort--label.active[href*="sby=fees"]:after{background-position:-199px -121px;}
a.sort--label.active[href*="feesDesc"]:after,
a.sort--label.active[href*="sby=rating"]:after{background-position:-185px -121px;}

a.sort--label.active[href*="sby=ratingAsc"]:after {
    background-position: -199px -121px !important;
}