.sort_ico {
    width: 18px;
    height: 17px;
    background: url(https://images.shiksha.ws/pwa/public/images/pwa-header-mobile-v3.svg) no-repeat;display: inline-block;background-position: -414px -28px;margin-bottom: -2px;margin-right: 3px;}
.ctp-fltOptions.fullwidth{width: 100%;}