<div class="sticky-dv">
     <div class="table max-table">
        <section class="wd50 i-block m-lt" amp-access="compared" amp-access-hide tabindex="0">
           <a class="btn btn-secondary color-w color-b f14 font-w7 wd50 tab-cell ga-analytic" href="https://www.shiksha.com/b-tech/course/b-e-in-mechanical-engineering-pimpri-chinchwad-college-of-engineering-pimpri-chinchwad-education-trust-s-nigdi-pune-73368?actionType=compare&course=73368" data-vars-event-name="COMPARE">
           Added To Compare
           </a>
        </section>
        <section class="wd50 i-block m-lt" amp-access="NOT subscriber AND NOT compared" amp-access-hide>
           <a class="btn btn-secondary color-w color-b f14 font-w7 wd50 tab-cell ga-analytic" href="https://www.shiksha.com/muser5/UserActivityAMP/getResponseAmpPage?listingId=73368&actionType=compare&fromwhere=coursepage" data-vars-event-name="COMPARE">Compare</a>
        </section>
        <section class="wd50 i-block m-lt" amp-access="subscriber AND NOT compared" amp-access-hide tabindex="0">
           <a class="btn btn-secondary color-w color-b f14 font-w7 wd50 tab-cell ga-analytic" href="https://www.shiksha.com/b-tech/course/b-e-in-mechanical-engineering-pimpri-chinchwad-college-of-engineering-pimpri-chinchwad-education-trust-s-nigdi-pune-73368?actionType=compare" data-vars-event-name="COMPARE">
           Compare
           </a>
        </section>
        <section class="wd50 i-block" amp-access="bMailed" amp-access-hide tabindex="0">
           <a class="btn btn-primary color-o color-f f14 font-w7 wd50 tab-cell btn-mob-dis">
           Brochure Mailed
           </a>
        </section>
        <section class="wd50 i-block" amp-access="NOT validuser AND NOT bMailed" amp-access-hide>
           <a class="btn btn-primary color-o color-f f14 font-w7 wd50 tab-cell ga-analytic" href="https://www.shiksha.com/muser5/UserActivityAMP/getResponseAmpPage?listingId=73368&actionType=brochure&fromwhere=coursepage" data-vars-event-name="BROCHURE">Request Brochure</a>
        </section>
        <section class="wd50 i-block" amp-access="validuser AND NOT bMailed" amp-access-hide tabindex="0">
           <a class="btn btn-primary color-o color-f f14 font-w7 wd50 tab-cell ga-analytic" href="https://www.shiksha.com/b-tech/course/b-e-in-mechanical-engineering-pimpri-chinchwad-college-of-engineering-pimpri-chinchwad-education-trust-s-nigdi-pune-73368?actionType=brochure&course=73368" data-vars-event-name="BROCHURE">
           Request Brochure
           </a>
        </section>
        <p class="clr"></p>
     </div>
  </div>