<div class="data-card m-5btm">
<div class="card-cmn color-w">
   <h2 class="f14 color-3 font-w6 m-btm">Want to find out your chances getting into this Collge?</h2>
   <a data-vars-event-name="WANT_TO_FINDOUTNOW" class="btn btn-secondary color-w color-b f14 font-w6 ga-analytic" href= 'https://www.shiksha.com/b-tech/resources/mhcet-college-predictor'>Find-Out Now</a>
</div>
</div>