.formPreviewMain {font-size:14px; font-family:Arial, Helvetica, sans-serif !important}
.previewHeader{display:block; margin-bottom:12px;}
.instLogoBox{text-align:center; padding-bottom:3px}
.previewTetx{font-size:22px; color:red; margin-bottom:20px; clear:both}
.previewContentWrapper, .previewBody{width:890px; margin:0 auto;}
.instructiontxt{font-size:12px; font-weight:normal; color:#3e5a76}
.courseNameDetails{text-align:center; font-size:18px; color:#000000; font-weight:normal; line-height:normal; padding-top:10px}
.courseNameDetails p{padding-bottom:15px}
.courseNameDetails strong{color:#ff9000; font-weight:normal;}
.picBox{width:197px; float:right; background-color:#e2e3e4; height:218px}
.picBox img{border:1px solid #cacaca; width:195px}
.picBox p{text-align:center; padding-top:80px; font-size:12px}
.formRows{display:block; margin-bottom:2px; float:left; width:100%}
.formRows ul li{display:block; margin-bottom:15px; float:left; width:100%;}
.formRows ul li label{float:left; padding-right:5px; font-weight:normal;}
.previewFieldBox, .previewFieldBox2{float:left; width:853px;}
.previewFieldBox2 span{border-bottom:1px dotted #000000; display:block; padding:2px 0 1px 0}
.previewFieldBox span, .enrollmentPreviewField span{display:block; border-bottom:solid 1px #000000;}
.formColumns2{float:left}
.flRt{float:right}
.checkBox{width:18px; height:15px; padding-top:3px; text-align:center; border:1px solid #000000; float:left; margin-right:10px}
.adRows{width:700px;; float:left}
.boxTable{border: 1px solid #000000; border-collapse: collapse;}
.boxTable tr td{height:21px; width:22px; padding:0; margin:0; text-align: center;}
.educationTable{border: 1px solid #000000; border-collapse: collapse;}
.educationTable tr th{text-align:center; font-weight:normal}
.educationTable2{border: 1px solid #000000; border-collapse: collapse;}
.educationTable2 tr th, .educationTable2 tr td{text-align:left; font-weight:normal}
.formWordWrapper{white-space: pre-wrap; word-wrap: break-word; overflow:hidden}
.IFIMFormTitle{border-bottom:2px solid #000; padding-bottom:3px; text-align:center}
