.address-wrapper{margin-bottom: 10px;}
.addrs-titl{font-size: 0.875rem;color: #666;line-height: 1.32}
.address-data{font-size: 1rem;color: #000;line-height: 1.34}
.address-data a{color: #000;text-decoration: none;}
strong{font-weight: 600;}