.exam_wrap .event_name{margin-top: 0px;}
.event_status{color: #666;font-size: 0.75rem;margin: 5px 0 0 0px;}
.event_status a{text-decoration: none;color: #008489}
.discuss-block{position: relative;margin: 10px 0px 4px;}
.discuss-block a{font-size: 0.875rem;color: #008489;font-weight: 600;position: relative;padding-left: 25px;}
.admit-sctn{text-align: center;margin: 0px 0px 13px;}
.admit-sctn div{position: relative;font-size: 0.875rem;width: 100%;}
i.admit-ico {position: absolute;left: 5px;display: inline-block;top: 0px;width: 29px;margin-right: 5px;height: 28px;background-position: -230px -89px;transform:scale(.85);}
.admit-sctn div strong {font-weight: 600;color: #000;}
.flex-mob {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-direction: row;justify-content: center;}
/*.flex-mob .button--orange{padding: 0;color: #fff;width: 44%;height: 34px;line-height: 32px;}*/
.flex-mob button:nth-child(2){margin-left: 5px;}
/*.flex-mob button.trnBtn{width: 52%;height: 34px;line-height: 32px;margin-right: 5px;padding: 0;}*/
.flex-mob button.trnBtn{line-height: 34px;}
p.applicationGuide{text-align: left;font-size: 13px;list-style-type: none;padding: 0 0 0 40px;position: relative;line-height: 1.4;}
p.applicationGuide:before{content: " ";display: block;border: solid 0.8em #0c6;border-radius: 50%;height: 1px;width: 0px;position: absolute;left: 0.5em;top: 40%;margin-top: -0.5em;}
p.applicationGuide:after{content: " ";display: block;width: 0.3em;height: 0.6em;border: solid #fff;border-width: 0 0.2em 0.2em 0;position: absolute;left: 1.1em;top: 40%;margin-top: -2px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}

.examicons{background:url('https://images.shiksha.ws/pwa/public/images/pwa-header-mobile-v3.svg')no-repeat;display: inline-block;}
.admit-sctn div p{position: relative;display: inline-block;font-size: 0.9375rem;color: #000;background: #ffe2ec;padding: 4px 7px 4px 36px;border: 1px solid #e0cfd5;}
.ib-circle{height: 27px;}
.rwd-right{margin-top: 12px;}

.last-date{font-size: 14px; text-align: center; margin-top: 10px;}
.last-date a{margin-left: 3px;}
/*question tag image*/
.examqstn-ico{width: 21px;height: 18px;background-position: -206px -98px;position: absolute;top: -2px;left: 0px;transform: scale(1.25);}

@media only screen and (min-width: 359px) and (max-width: 365px){
	.sample_tuple:nth-child(3n+3){margin-right: 0px;}
}


@media only screen and (min-width: 1024px){
	.rwd-col{display: inline-block;vertical-align: top;width: 70%}
	.rwd-right{display: inline-block;width: 30%;}
	.rwd-right .admit-sctn{text-align: right;}
	.admit-sctn div p{padding: 10px 8px 10px 36px}
	i.admit-ico{top: 4px;}
	.pwa_pagecontent section.pwa_banner, .pwa_pagecontent section.pwa_banner section{margin-bottom: 0px;}
    .rwd-right{margin-top: 0px;}
	.last-date{text-align: right; margin-top: 15px;}
	.flex-mob{justify-content: flex-end;	}
}