<amp-ad style="margin: 0 auto 10px;display: block;background: #ccc;" width="320" height="50"
         type="doubleclick"
         data-slot="/21720783678/Footer_Mobile"
         json='{"targeting":{"userLoggedIn":"Yes","userCity":"74","userLocality":null,"userStream":1,"userBaseCourse":["101"],"userSubstream":null,"userSpecialization":null,"userEducationType":["20"],"userWorkEx":null,"userMarks":"","userPercentile":"","isDomestic":"Yes","parentPage":"DFP_CourseDetailPage","pageType":"homepage","stream":"2","substream":null,"specialization":"324","baseCourse":"10","examConductingBody":"","ownership":null,"client":true,"educationType":"20","deliveryMethod":"33","listingLocationCity":"174","listingLocationState":"114","countryId":2,"examsAcceptedByInstitute":["JEE Main","MHTCET"],"courseLevel":"14","courseCredential":"9","courseDuration":"4 years","examGroupId":"","pageId":"73368","anaTags":null}}'></amp-ad>
      <div class="m-btm">
         <amp-accordion class="ampstart-dropdown" disable-session-states>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_STREAM_ACCORDIAN">Streams</h4>
               <div class="color-w">
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/business-management-studies/colleges/colleges-india
                     ">BUSINESS & MANAGEMENT STUDIES</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/engineering/colleges/colleges-india
                     ">ENGINEERING</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/design/colleges/colleges-india
                     ">DESIGN </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/hospitality-travel/colleges/colleges-india
                     ">HOSPITALITY & TRAVEL</a>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/law/colleges/colleges-india
                     ">LAW</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/animation/colleges/colleges-india
                     ">ANIMATION</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/mass-communication-media/colleges/colleges-india
                     ">MASS COMMUNICATION & MEDIA</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/it-software/colleges/colleges-india
                     ">IT & SOFTWARE</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/humanities-social-sciences/colleges/colleges-india
                     ">HUMANITIES & SOCIAL SCIENCES</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/arts-fine-visual-performing/colleges/colleges-india
                     ">ARTS ( FINE / VISUAL / PERFORMING )</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/science/colleges/colleges-india
                     ">SCIENCE</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/architecture-planning/colleges/colleges-india
                     ">ARCHITECTURE & PLANNING </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/accounting-commerce/colleges/colleges-india
                     ">ACCOUNTING & COMMERCE </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/banking-finance-insurance/colleges/colleges-india
                     ">BANKING, FINANCE & INSURANCE </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/aviation/colleges/colleges-india
                     ">AVIATION</a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/teaching-education/colleges/colleges-india
                     ">TEACHING & EDUCATION </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/nursing/colleges/colleges-india
                     ">NURSING </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/medicine-health-sciences/colleges/colleges-india
                     ">MEDICINE & HEALTH SCIENCES </a><span class="color-9"> | </span>
                  <a class="l-22 pad-5tb color-3 ga-analytic" data-vars-event-name="FOOTER_STREAM_LINK" href="https://www.shiksha.com/beauty-fitness/colleges/colleges-india">BEAUTY & FITNESS </a>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS">top exams</h4>
               <div class="color-w">
                  <p class="color-3 f12 font-w6 m-top">MBA</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/cat">CAT 2018</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/cmat">CMAT 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/snap">SNAP 2018</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/xat">XAT 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/mat">MAT 2018</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MBA_LINK" href="https://www.shiksha.com/mba/exams/nmat-by-gmac">NMAT by GMAC 2018</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Engineering</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/jee-main">JEE Main 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/jee-main/results">JEE Main 2019 Result</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/comedk-uget">COMDEK 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/engineering/exams/gate">GATE 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/wbjee">WBJEE 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/upsee">UPSEE 2018</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/b-tech/exams/jee-advanced">JEE Advanced 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_ENG_LINK" href="https://www.shiksha.com/university/lovely-professional-university/exams/lpu-nest">LPU-NEST</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Design</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/industrial-product-design/exams/uceed">UCEED 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/exams/ceed">CEED 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/fashion-design/exams/aicet">AICET</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/fashion-design/exams/nift-entrance-exam">NIFT Entrance Exam 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/fashion-design/exams/nid-entrance-exam">NID Entrance Exam 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_DESIGN_LINK" href="https://www.shiksha.com/design/fashion-design/exams/aieed">AIEED 2019</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Law</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/clat">CLAT 2019</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/aibe">AIBE 2018</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/aplawcet">APLAWCET 2018</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/tslawcet">TSLAWCET 2018</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/ailet">AILET 2019</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_LAW_LINK" href="https://www.shiksha.com/law/exams/lsat">LSAT</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Hospitality</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_HOSPITALITY_LINK" href="https://www.shiksha.com/hospitality-travel/hotel-hospitality-management/exams/iihm-echat">eCHAT 2019</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_HOSPITALITY_LINK" href="https://www.shiksha.com/hospitality-travel/hotel-hospitality-management/exams/ecole-hoteliere-lavasa-exam">Ecole Hoteliere Lavasa 2018</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_HOSPITALITY_LINK" href="https://www.shiksha.com/hospitality-travel/hotel-hospitality-management/exams/nchmct-jee">NCHMCT JEE 2019</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Mass Communication</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MASSCOMM_LINK" href="https://www.shiksha.com/mass-communication-media/exams/iimc-entrance-exam">IIMC Entrance Exam 2019</a><span class="color-9">|</span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPEXAMS_MASSCOMM_LINK" href="https://www.shiksha.com/mass-communication-media/exams/jamia-millia-islamia-entrance">JMI Entrance Exam</a>
                  </aside>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY">Top Universities</h4>
               <div class="color-w">
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "University of Delhi" href="https://www.shiksha.com/university/university-of-delhi-24642">University of Delhi</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "IGNOU Delhi" href="https://www.shiksha.com/university/indira-gandhi-national-open-university-delhi-3030">IGNOU Delhi</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "Anna University " href="https://www.shiksha.com/university/anna-university-chennai-3084">Anna University </a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "AMU Aligarh" href="https://www.shiksha.com/university/aligarh-muslim-university-29839">AMU Aligarh</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "JNU Delhi" href="https://www.shiksha.com/university/jawaharlal-nehru-university-delhi-4225">JNU Delhi</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "BHU Varanasi" href="https://www.shiksha.com/university/banaras-hindu-university-varanasi-23336">BHU Varanasi</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "Gujarat University" href="https://www.shiksha.com/university/gujarat-university-ahmedabad-29851">Gujarat University</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "PU Chandigarh" href="https://www.shiksha.com/university/panjab-university-chandigarh-4026">PU Chandigarh</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "Annamalai University" href="https://www.shiksha.com/university/annamalai-university-tamil-nadu-other-25297">Annamalai University</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "Osmania University" href="https://www.shiksha.com/university/osmania-university-hyderabad-25100">Osmania University</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title = "Amity University" href="https://www.shiksha.com/university/amity-university-noida-41334">Amity University</a>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Delhi-NCR" href="https://www.shiksha.com/colleges/delhi-ncr">Delhi NCR</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Mumbai" href="https://www.shiksha.com/colleges/mumbai">Mumbai</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Bangalore" href="https://www.shiksha.com/colleges/bangalore">Bangalore</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Hyderabad" href="https://www.shiksha.com/colleges/hyderabad">Hyderabad</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Hyderabad" href="https://www.shiksha.com/colleges/chennai">Chennai</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Pune" href="https://www.shiksha.com/colleges/pune">Pune</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Kolkata" href="https://www.shiksha.com/colleges/kolkata">Kolkata</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Ahmedabad" href="https://www.shiksha.com/colleges/ahmedabad">Ahmedabad</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Jaipur" href="https://www.shiksha.com/colleges/jaipur">Jaipur</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Chandigarh" href="https://www.shiksha.com/colleges/chandigarh">Chandigarh</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Punjab" href="https://www.shiksha.com/colleges/punjab">Punjab</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Maharashtra" href="https://www.shiksha.com/colleges/maharashtra">Maharashtra</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Rajasthan" href="https://www.shiksha.com/colleges/rajasthan">Rajasthan</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in UttarPradesh" href="https://www.shiksha.com/colleges/uttar-pradesh">Uttar Pradesh</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Karnataka" href="https://www.shiksha.com/colleges/karnataka">Karnataka</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Telangana" href="https://www.shiksha.com/colleges/telangana">Telangana</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Andhra Pradesh" href="https://www.shiksha.com/colleges/andhra-pradesh">Andhra Pradesh</a><span class="link-sep"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_TOPUNIVERSITY_LINK" title="Colleges in Tamil Nadu" href="https://www.shiksha.com/colleges/tamil-nadu">Tamil Nadu</a>
                  </aside>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_RESOURCES">Resources</h4>
               <div class="color-w">
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Delhi University Cut-Off" href="https://www.shiksha.com/university/university-of-delhi-24642/cutoff">Delhi University Cut-Off</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="JEE MAINS 2018 Rank Predictor" href="https://www.shiksha.com/b-tech/resources/jee-main-rank-predictor">JEE MAINS 2018 Rank Predictor</a><span class="color-9"> | </span>
                  <a title="IIM Call Predictor" href="https://www.shiksha.com/mba/resources/iim-call-predictor" class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK">IIM Call Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="JEE MAINS College Predictor" href="/b-tech/resources/jee-mains-college-predictor">JEE MAINS College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="KCET College Predictor" href="/b-tech/resources/kcet-college-predictor">KCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="COMEDK College Predictor" href="/b-tech/resources/comedk-college-predictor">COMEDK College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="KEAM College Predictor" href="/b-tech/resources/keam-college-predictor">KEAM College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="WBJEE College Predictor" href="/b-tech/resources/wbjee-college-predictor">WBJEE College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="MPPET College Predictor" href="/b-tech/resources/mppet-college-predictor">MPPET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="CGPET College Predictor" href="/b-tech/resources/cgpet-college-predictor">CGPET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="TNEA College Predictor" href="/b-tech/resources/tnea-college-predictor">TNEA College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="PTU College Predictor" href="/b-tech/resources/ptu-college-predictor">PTU College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="UPSEE College Predictor" href="/b-tech/resources/upsee-college-predictor">UPSEE College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="MHCET College Predictor" href="/b-tech/resources/mhcet-college-predictor">MHCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="HSTES College Predictor" href="/b-tech/resources/hstes-college-predictor">HSTES College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="AP-EAMCET College Predictor" href="/b-tech/resources/ap-eamcet-college-predictor">AP-EAMCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="TS-EAMCET College Predictor" href="/b-tech/resources/ts-eamcet-college-predictor">TS-EAMCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="OJEE College Predictor" href="/b-tech/resources/ojee-college-predictor">OJEE College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="BITSAT College Predictor" href="/b-tech/resources/bitsat-college-predictor">BITSAT College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="GGSIPU College Predictor" href="/b-tech/resources/ggsipu-college-predictor">GGSIPU College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="GUJCET College Predictor" href="/b-tech/resources/gujcet-college-predictor">GUJCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="NIFT College Predictor" href="/design/resources/nift-college-predictor">NIFT College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="NCHMCT College Predictor" href="/hospitality-travel/resources/nchmct-college-predictor">NCHMCT College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="MAHCET College Predictor" href="/mba/resources/mahcet-college-predictor">MAHCET College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="CLAT College Predictor" href="/law/resources/clat-college-predictor">CLAT College Predictor</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Compare College" href="https://www.shiksha.com/resources/college-comparison">College Compare</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Career Compass" href="https://www.shiksha.com/mba/resources/mba-alumni-data">Career Compass</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="MBA College Reviews" href="https://www.shiksha.com/mba/resources/college-reviews" >MBA College Reviews</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Connect with Current Students" href="https://www.shiksha.com/business-management-studies/resources/campus-connect-program-1">Connect with Current Students</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="MBA Exam Calendar" href="https://www.shiksha.com/mba/resources/exam-calendar">MBA Exam Calendar</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Engineering College Reviews" href="https://www.shiksha.com/btech/resources/college-reviews" >Engineering College Reviews</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Engineering Exam Calendar" href="https://www.shiksha.com/engineering/resources/exam-calendar">Engineering Exam Calendar</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Courses After 12th" href="https://www.shiksha.com/courses-after-12th">Courses After 12th</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Education Boards" href="https://www.shiksha.com/boards">Education Boards</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Ask & Answer" href="https://ask.shiksha.com">Ask & Answer</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="View All Tags" href="https://www.shiksha.com/tags">View All Tags</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Shiksha Ask & Answer App" href="https://play.google.com/store/apps/details?id=com.shiksha.android" target="_blank">Shiksha Ask & Answer App</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="News & Articles" href="https://www.shiksha.com/articles-all">News & Articles</a> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_RESOURCES_LINK" title="Education Trends" href="https://www.shiksha.com/analytics/ShikshaTrends/trendsHomePage">Education Trends</a>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES">Important Updates</h4>
               <div class="color-w">
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="UGC NET" href="https://www.shiksha.com/teaching-education/exams/ugc-net">UGC NET</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="SNAP 2018" href="https://www.shiksha.com/mba/exams/snap">SNAP 2018</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="JEE Mains 2019" href="https://www.shiksha.com/b-tech/exams/jee-main">JEE Mains 2019</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="CAT 2018 Registration" href="https://www.shiksha.com/mba/exams/cat/application-form">CAT 2018 Registration</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="MBA Exams" href="https://www.shiksha.com/mba/exams-pc-101">MBA Exams</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="CAT 2018" href="https://www.shiksha.com/mba/exams/cat">CAT 2018</a>
                  <span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_IMPORTANT_UPDATES_LINK" title="Courses After 12th" href="https://www.shiksha.com/courses-after-12th">Courses After 12th</a>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD">studyabroad</h4>
               <div class="pad10 color-w">
                  <p class="color-3 f12 font-w6 m-top">Courses</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COURSE_LINK" title = "BE/BTech abroad" href="https://studyabroad.shiksha.com/be-btech-in-abroad-dc11510">BE/Btech</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COURSE_LINK" title = "MS" href="https://studyabroad.shiksha.com/ms-in-abroad-dc11509">MS</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COURSE_LINK" title = "MBA" href="https://studyabroad.shiksha.com/mba-in-abroad-dc11508">MBA</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COURSE_LINK" title = "Law" href="https://studyabroad.shiksha.com/bachelors-of-law-in-abroad-cl1245">Law</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COURSE_LINK" title = "All Courses" href="https://studyabroad.shiksha.com">All Courses</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Countries</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COUNTRY_LINK" title = "USA" href="https://studyabroad.shiksha.com/usa">USA</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COUNTRY_LINK" title = "UK" href="https://studyabroad.shiksha.com/uk">UK</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COUNTRY_LINK" title = "Canada" href="https://studyabroad.shiksha.com/canada">Canada</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COUNTRY_LINK" title = "Australia" href="https://studyabroad.shiksha.com/australia">Australia</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_COUNTRY_LINK" title = "All Countries" href="https://studyabroad.shiksha.com/abroad-countries-countryhome">All Countries</a>
                  </aside>
                  <p class="color-3 f12 font-w6 m-top">Exams</p>
                  <aside class="">
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_EXAM_LINK" title = "GRE" href="https://studyabroad.shiksha.com/exams/gre">GRE</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_EXAM_LINK" title = "GMAT" href="https://studyabroad.shiksha.com/exams/gmat">GMAT</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_EXAM_LINK" title = "SAT" href="https://studyabroad.shiksha.com/exams/sat">SAT</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_EXAM_LINK" title = "IELTS" href="https://studyabroad.shiksha.com/exams/ielts">IELTS</a><span class="color-9"> | </span>
                     <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_STUDYABROAD_EXAM_LINK" title = "TOEFL" href="https://studyabroad.shiksha.com/exams/toefl">TOEFL</a>
                  </aside>
               </div>
            </section>
            <section class="ac-rd">
               <h4 class="color-w pad10 color-b f12 font-w6 txt-trns-u ga-analytic" data-vars-event-name="FOOTER_HELP">help</h4>
               <div class="color-w">
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="About Us" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/aboutus">About us</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="Careers With Us" href="https://careers.shiksha.com/">Careers With Us</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" id="flSHB" title = "Student HelpLine" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/studentHelpLine">Student helpline</a><span class="link-sep"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="Privacy" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/privacy">Privacy policy</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="Contact Us" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/contactUs">Contact Us</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="Terms of use" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/terms">Terms of Use</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" title="Shiksha Sitemap" href="https://www.shiksha.com/sitemap">Sitemap</a><span class="color-9"> | </span>
                  <a class="color-3 f12 l-22 pad-5tb ga-analytic" data-vars-event-name="FOOTER_HELP_LINK" id="flVFS" title="View Full Site" href="https://www.shiksha.com/mcommon5/MobileSiteStatic/viewfullsite">View Full Site</a>
               </div>
            </section>
         </amp-accordion>
      </div>
      <div class="m-5top pad10 m-btm border-btm">
         <p class="t-cntr f12 color-0 font-w7">Partner Sites</p>
         <p class="m-top m-btm f12 color-3 t-cntr l-25">
            <a class="color-3 f12 m-lr7" href="http://www.naukri.com" target="_blank">Jobs</a>|
            <a class="color-3 f12 m-lr7" href="http://www.firstnaukri.com" target="_blank">Jobs for Freshers</a>|
            <a class="color-3 f12 m-lr7" href="http://www.naukrigulf.com" target="_blank">Jobs in Middle East</a>|
            <a class="color-3 f12 m-lr7" href="http://www.99acres.com" target="_blank">Real Estate</a>|
            <a class="color-3 f12 m-lr7" href="http://www.allcheckdeals.com" target="_blank">Real Estate Agents</a>|
            <a class="color-3 f12 m-lr7" href="http://www.jeevansathi.com" target="_blank">Matrimonial</a>|
            <a class="color-3 f12 m-lr7" href="http://www.policybazaar.com" target="_blank">Insurance Comparison</a>|
            <a class="color-3 f12 m-lr7" href="http://www.meritnation.com" target="_blank">School Online</a>|
            <a class="color-3 f12 m-lr7" href="http://www.brijj.com" target="_blank">Brij</a>|
            <a class="color-3 f12 m-lr7" href="http://www.zomato.com" target="_blank">Zomato</a>|
            <a class="color-3 f12 m-lr7" href="http://www.mydala.com/" target="_blank">mydala-Best deals in india</a>|
            <a class="color-3 f12 m-lr7" href="http://www.ambitionbox.com/" target="_blank">Ambition Box</a>
         </p>
      </div>
      <div class="pad10 pad-btm">
         <p class="color-3 f12 t-cntr"> Trade Marks belong to the respective owners.<br/>Copyright &copy; 2018 Infoedge India Ltd. All rights reserved</p>
      </div>
      <amp-install-serviceworker src="/service-worker.690554.js" data-iframe-src="https://www.shiksha.com/loadsw"  layout="nodisplay"></amp-install-serviceworker>
      
    </body>      
</html>
