.top_widget{background: #fff;box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);margin-top: 5px;}
.widget_head{padding: 12px;border-bottom: 1px solid #DFDFDF;}
.widget_content .ranking_btns{height: 32px;line-height: 30px;}
.list_col{width: 49%;}
ul.loc-list li {width: 49%;display: inline-block;vertical-align: top;}
ul.loc-list li:nth-child(2n+1) {margin-right: 6px;}
.rslts_ul{margin-top: 5px;}
.rslts_ul li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;margin-bottom: 5px;}
.rslts_ul li a{font-size: 0.875rem;color: #000;list-style: none;}

.ranking_btns {font-size: 0.875rem;font-weight: 600;text-align: center;display: inline-block;border-radius: 2px;line-height: 32px;height: 34px;float: left;-webkit-tap-highlight-color: transparent;}
.transbtn {width: 73px;background-color: transparent;border: 1px solid #008489;color: #008489;}
@media screen and (min-width: 1024px){
  .loc-wrap{max-height: 400px; overflow: inherit;}
  ul.loc-list li{width: 170px;font-size: 14px;margin-right: 5px;margin-bottom: 8px;}
  ul.loc-list li a{color: #000;text-decoration: none;}
  ul.loc-list li a:hover {color: #008489}
}
