.filter_space.filter_pwasearch{padding: 0px;border-left: 1px solid #ccc;flex-grow: 100;}
.filter_space.filter_pwasearch input[type="text"]{height: 56px;width: 100%;padding: 0 35px;border: none;-webkit-appearance:none;}
.search-container{position: relative;}
.search-suggestion-container{position: absolute;width: 100%;left: 0;top: 56px;border: 1px solid #ccc;background: #fff;z-index: 1;}
.search-suggestion-container ul{max-height: 250px; overflow-y: auto;}
.search-suggestion-container ul li{padding: 10px; color: #000;border-bottom : 1px solid #ccc;font-size: 0.875rem;cursor: pointer;}
.search-suggestion-container ul li:last-child{border-bottom: none;}
.search-suggestion-container ul li:hover{background: rgba(0, 132, 137, 0.07);}
.search-suggestion-container ul li.tupleBg{background: rgba(0, 132, 137, 0.07);}
.reset-srch{position:absolute;right:0;top:0;width:35px;display:flex;bottom:0;font-size:34px;opacity:.8;cursor:pointer;align-items:center;justify-content:center}
.reset-srch:after,.reset-srch:before{position:absolute;height:16px;width:2px;left:15px;content:' ';background-color:#000}
.reset-srch:before{transform:rotate(45deg)}
.reset-srch:after{transform:rotate(-45deg)}
.search-box{position:relative}
.search.icon{color:#000;position:absolute;margin-top:20px;margin-left:11px;width:12px;height:12px;border:solid 1.5px #000;border-radius:100%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.search.icon:before{content:'';position:absolute;top:10px;left:3px;height:8px;width:2px;background-color:#000}
