a.ctp-btn.ctpComp-btn:hover{background: #f0f6ff;}
a:not(.ebDisabled).ctp-btn.ctpBro-btn:hover{background: #db6d1d;}
a.ctpComp-btn{border: 1px solid #008489; color: #008489;background: #fff; float: left;}
a.ctpComp-btn{border: 1px solid #008489; color: #008489;background: #fff; float: left;}
.ctp-SrpBtnDiv a.ctpBro-btn{border: 1px solid #f37921; color: #fff;background:#f37921; float: right}
.ctp-SrpBtnDiv a.ctpBro-btn.disabld{color: #999; background: #E2E2E2;cursor: default; border: 1px solid #e2e2e2;}
.ctp-SrpBtnDiv {width: 100%;display: inline-block;clear: both;border-top: none;margin: 0px 0px 0px;padding-top: 14px;}/*border removed due to comment*/