.pwa-lyr.bcglayer.recoHdng p {line-height: 20px;}
.pwa-lyr.bcglayer.recoHdng .pwa-hd{height: 58px;}
.pwa-lyr.bcglayer.recoHdng .pwa-hd p {text-overflow:  initial; white-space: initial;}
.pwa-lyr.bcglayer.recoHdng  a.lyr-crs {line-height: 58px;}
#fullLayer-container .ctp-SrpBtnDiv a.ctp-btn{font-size: 0.8125rem;}

ul.pad10-l {
    padding-bottom: 10px;
}

ul.pad10-l li {
    font-size: 0.875rem;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
}
.small-loader {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    -moz-box-shadow: 0 0 8px 2px #b5b5b5;
    /* -webkit-box-shadow: 0 0 8px 2px #b5b5b5; */
    /* box-shadow: 0 0 8px 2px #b5b5b5; */
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -20px 0px 0px -20px;
}

.pwa-hd {
    background: #008489;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    position: relative;
    height: 45px;line-height: 24px;
}

.pwa-lyr {
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 11111;
}

.pwa-lyr.bcglayer.reg-lyr {
    overflow-y: scroll;
}

.lyr-crs,
.ctp_container a.lyr-crs {
    float: right;
    font-size: 1.875rem;
    color: #fff;
    text-decoration: none;
    line-height: 44px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    text-align: center;
}

.clr {
    clear: both
}

.pwa-lyrSrc {
    background: #d6d6d6;
    border-bottom: 1px solid #ccc;
    font-size: 0.75rem;
    padding: 8px;
    position: relative;
}

.pwa-lyrSrc input[type="text"] {
    width: 100%;
    border: none;
    outline: 0;
    background: #fff;
    height: 32px;
    line-height: 32px;
    padding: 0px 5px 0px 37px;
}

.pwa-lyrSrc.crsSrc input[type="text"] {
    padding: 0px 25px 0px 37px;
}

i.search-ico {
    background: url("https://images.shiksha.ws/pwa/public/images/pwa-header-mobile-v3.svg") no-repeat;
}

.pwa-lyrSrc i.search-ico {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-position: -418px -8px;
    top: 12px;
    left: 16px;
}

.pwa-cont {
    color: #000;
    font-size: 0.75rem;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    overflow-y: auto;
    /*-webkit-overflow-scrolling: touch;*/
}

.pad {
    padding: 15px 10px;
}

.pwa-cont strong {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    font-size: 0.875rem;
}

.pwa-hd p.flLt {
    float: left;
    font-weight: 600;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;overflow: hidden;
}
.close-tip {
    position: fixed;
    z-index: 11;
    top: -35px;
    right: 3px;
    width: 10px;
    height: 20px;
    color: #fff;
    font-size: 1.375rem;
    font-style: normal;
}

.r-table .subcat-dtls .edit-stream {
    float: right;
    color: #fff;
    font-size: 0.625rem;
    text-transform: capitalize;
    padding: 32px 10px 15px 0;
    position: absolute;
    right: -10px;
    top: -30px;
}

/*.nrml-link {
    font-size: 0.875rem;
    color: #008489;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
*/
.word-wrap {
    word-break: break-word;
}


.ui-header-fixed {
    top: 0px;
    padding-top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    z-index: 1000;
}



lyr-crs, .ctp_container a.lyr-crs {
    float: right;
    font-size: 1.875rem;
    color: #fff;
    text-decoration: none;
    line-height: 44px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    text-align: center;
}
/*only mobile*/
@media screen and (min-width: 320px) and (max-width:1023px) {
    .pwa-anim-lyr {
        -webkit-animation: listAnim .5s cubic-bezier(.4, 0, .2, 1), transform .5s cubic-bezier(.4, 0, .2, 1), -webkit-transform .5s cubic-bezier(.4, 0, .2, 1) forwards;
        animation: listAnim .5s cubic-bezier(.4, 0, .2, 1), transform .5s cubic-bezier(.4, 0, .2, 1), -webkit-transform .5s cubic-bezier(.4, 0, .2, 1) forwards;z-index: 10000;
    }

    @keyframes listAnim {
        from {
            opacity: 0;
            transform: translateY(100%) translateZ(0)
        }
        to {
            opacity: 1;
            transform: translate(0) translateZ(0);
        }
    }
}
/*only desktop*/
@media screen and (min-width: 1024px){
    .tbl-seo {
        color: #000;
        font-size: 14px;
        line-height: 21px;
        max-height: 400px;
        overflow: auto;
        background: #fff;
    }
   /* .tbl-seo table tr td:first-child, .tbl-seo  tr th:first-child {
        text-align: left;
    }

    .tbl-seo table tr td, .tbl-seo tr th {
        border: 1px solid #eee;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }
    .tbl-seo table tr th {
        font-weight: 600;
        text-align: center;
    }*/
	#fullLayer-container{
		background: rgba(0,0,0,0.4);
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	    overflow: auto;
	    display: none;
        top:0;
	}
	#fullLayer-container.show{
		display: block;
	}
	.pwa-lyr {
	    top: 50%;
	    left: 50%;
	    right: auto;
	    bottom: auto;
	    z-index: 11111;
	    max-width: 65%;
	    transform: translate(-50%, -50%);
	    max-height: 500px;
        height: auto;
      width: 100%;

	}
	body.noscroll{
		overflow: hidden;
	}
    .pwa-lyr.ext-layer {
        max-width: 960px;
        height: 470px;
    }
    .pwa-lyr.ext-layer .tbl-seo{max-height: 400px;overflow: inherit;height: 100%;padding: 0 15px 15px 0;}
    .tbl-seo table{    width: 100%;
        margin-top: 10px;
       /* border: 1px solid #eee;*/
        border-collapse: collapse;
    }
    .pwa-lyr.ext-layer .pwa-cont.pad{padding: 10px 0px 0 15px;}
    .tbl-seo table{white-space: inherit;overflow: initial;}
    .ovrflowVsbl{overflow: visible;}
}
