/*review star*/
.new_rating {
    display: inline-block
}
.starBg {
    background: url(//images.shiksha.ws/public/images/ratingicon.svg) no-repeat;
    background-position: 0 -10px;
    width: 65px;
    height: 10px;
    display: inline-block;
    background-size: 65px 20px
}
i.empty_stars {
    position: relative;
    top: -1px
}

i.full_starts {
    background-position: 0 0;
    width: 50%;
    position: absolute;
    left: 0px;
}